In [1]:
"""
In terminal, the 6 raw SEC data tables in postgres db were combined by:


CREATE TABLE sec_ALL_raw as 
SELECT * FROM sec_2014_raw
UNION
SELECT * FROM sec_2015_raw
UNION
SELECT * FROM sec_2016_raw
UNION
SELECT * FROM sec_2017_raw
UNION
SELECT * FROM sec_2018_raw
UNION
SELECT * FROM sec_2019_raw;


rows = 2337506


"""

'\nexamine 2017 download from google cloud \nquery of SEC db\n'

In [ ]:
# filter to only where USD values,  re-visit currency conversions later

"""  
CREATE TABLE sec_ALL_USD as SELECT * FROM sec_ALL_raw WHERE units='USD';


rows:2333735
"""

In [ ]:
# the tall table needs pivoted so model features each have own column
# as-is all the financial statement labels are tall in the column "measure_tag"

In [30]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as pd_sql
import numpy as np
import datetime

In [46]:
from pandasql import sqldf
# PandaSQL needs to be able to reference the global variables already defined (namely, `df`)
pysqldf = lambda q: sqldf(q, globals())

In [17]:
# Postgres info to connect

connection_args = {
    'host': 'localhost',  
    'dbname': 'bankruptcy',  
    'port': 5432          
}

connection = pg.connect(**connection_args)
connection.autocommit = True

In [20]:
query = "SELECT * FROM sec_ALL_USD LIMIT 5;"

pd_sql.read_sql(query, connection)

,submission_number,company_name,measure_tag,period_end_date,value,units,number_of_quarters,version,central_index_key,ein,sic,fiscal_year_end,form,fiscal_year,fiscal_period_focus,date_filed,date_accepted
0,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2011-12-31,378840000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
1,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2012-12-31,419501000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
2,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2013-12-31,448082000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
3,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2012-12-31,324556000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
4,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2013-12-31,351730000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC

In [21]:
query_all = "SELECT * FROM sec_ALL_USD;"
sec_df = pd_sql.read_sql(query_all, connection)

In [22]:
sec_df.head()

,submission_number,company_name,measure_tag,period_end_date,value,units,number_of_quarters,version,central_index_key,ein,sic,fiscal_year_end,form,fiscal_year,fiscal_period_focus,date_filed,date_accepted
0,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2011-12-31,378840000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
1,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2012-12-31,419501000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
2,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2013-12-31,448082000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
3,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2012-12-31,324556000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
4,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2013-12-31,351730000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC

In [23]:
sec_df.shape

(2333735, 17)

In [24]:
sec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333735 entries, 0 to 2333734
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   submission_number    object
 1   company_name         object
 2   measure_tag          object
 3   period_end_date      datetime64[ns]
 4   value                float64
 5   units                object
 6   number_of_quarters   int64
 7   version              object
 8   central_index_key    object
 9   ein                  object
 10  sic                  object
 11  fiscal_year_end      int64
 12  form                 object
 13  fiscal_year          int64
 14  fiscal_period_focus  object
 15  date_filed           datetime64[ns]
 16  date_accepted        object
dtypes: datetime64[ns](2), float64(1), int64(3), object(11)
memory usage: 302.7+ MB

In [25]:
sec_df.columns

Index(['submission_number', 'company_name', 'measure_tag', 'period_end_date',
       'value', 'units', 'number_of_quarters', 'version', 'central_index_key',
       'ein', 'sic', 'fiscal_year_end', 'form', 'fiscal_year',
       'fiscal_period_focus', 'date_filed', 'date_accepted'],
      dtype='object')

In [26]:
wide_sec = sec_df.pivot_table(index=['company_name','period_end_date',
                                              'submission_number','central_index_key',
                                             'ein', 'sic', 'fiscal_year_end', 'fiscal_year', 'form',
                                             'date_filed'],
                        columns='measure_tag', values='value').reset_index()
wide_sec.head()

measure_tag,company_name,period_end_date,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,date_filed,...,NetCashProvidedByUsedInOperatingActivities,NetIncomeLoss,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,TotalAsset
0,"'MKTG, INC.'",2012-03-31,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,2014-06-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"'MKTG, INC.'",2013-03-31,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,2014-06-27,...,4984705.0,1214914.0,126115281.0,4694497.0,1214914.0,NaN,NaN,NaN,10176844.0,NaN
2,"'MKTG, INC.'",2014-03-31,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,2014-06-27,...,-71442.0,2293272.0,136198952.0,2830011.0,2293272.0,NaN,NaN,NaN,12190322.0,NaN
3,"024 PHARMA, INC.",2015-12-31,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137994.0,NaN
4,"024 PHARMA, INC.",2016-12-31,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24,...,NaN,621040.0,NaN,NaN,NaN,NaN,1079541.0,NaN,759035.0,NaN

In [29]:
wide_sec.shape

(245067, 44)

In [31]:
# drop any finanical report data before 2014

f1_wide_sec = wide_sec[wide_sec['period_end_date'] > datetime.datetime(2014, 1, 1) ]
f1_wide_sec.shape

(173996, 44)

In [32]:
f1_wide_sec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173996 entries, 2 to 245064
Data columns (total 44 columns):
 #   Column                                                         Non-Null Count   Dtype
---  ------                                                         --------------   -----
 0   company_name                                                   173996 non-null  object
 1   period_end_date                                                173996 non-null  datetime64[ns]
 2   submission_number                                              173996 non-null  object
 3   central_index_key                                              173996 non-null  object
 4   ein                                                            173996 non-null  object
 5   sic                                                            173996 non-null  object
 6   fiscal_year_end                                                173996 non-null  int64
 7   fiscal_year                                                    173996 non-null  int64
 8   form                                                           173996 non-null  object
 9   date_filed                                                     173996 non-null  datetime64[ns]
 10  Assets                                                         61069 non-null   float64
 11  AssetsCurrent                                                  45769 non-null   float64
 12  CashAndCashEquivalentsAtCarryingValue                          72145 non-null   float64
 13  CashAndCashEquivalentsPeriodIncreaseDecrease                   54170 non-null   float64
 14  CommonStockValue                                               48585 non-null   float64
 15  CostsAndExpenses                                               18958 non-null   float64
 16  CurrentAsset                                                   3 non-null       float64
 17  DeferredIncomeTaxExpenseBenefit                                42660 non-null   float64
 18  DeferredIncomeTaxLiabilities                                   23610 non-null   float64
 19  DeferredIncomeTaxLiabilitiesNet                                3649 non-null    float64
 20  DeferredIncomeTaxesAndTaxCredits                               6935 non-null    float64
 21  Depreciation                                                   37891 non-null   float64
 22  EarningsPerShareBasic                                          101290 non-null  float64
 23  EarningsPerShareDiluted                                        100527 non-null  float64
 24  GrossProfit                                                    63834 non-null   float64
 25  Liabilities                                                    46437 non-null   float64
 26  LiabilitiesAndStockholdersEquity                               58515 non-null   float64
 27  LiabilitiesCurrent                                             45787 non-null   float64
 28  LongTermDebt                                                   17193 non-null   float64
 29  LongTermDebtCurrent                                            13224 non-null   float64
 30  LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths  9525 non-null    float64
 31  LongTermDebtNoncurrent                                         16369 non-null   float64
 32  NetCashProvidedByUsedInFinancingActivities                     48337 non-null   float64
 33  NetCashProvidedByUsedInInvestingActivities                     44441 non-null   float64
 34  NetCashProvidedByUsedInOperatingActivities                     49398 non-null   float64
 35  NetIncomeLoss                                                  137999 non-null  float64
 36  OperatingExpenses                                              45216 non-null   float64
 37  OperatingIncomeLoss                                            94089 non-null   float64
 38  ProfitLoss                                                     47896 non-null   float64
 39  RepaymentsOfLongTermDebt                                       18202 non-null   float64
 40  Revenues                                                       66758 non-null   float64
 41  SalesRevenueNet                                                37854 non-null   float64
 42  StockholdersEquity                                             70508 non-null   float64
 43  TotalAsset                                                     7 non-null       float64
dtypes: datetime64[ns](2), float64(34), int64(2), object(6)
memory usage: 59.7+ MB

In [34]:
f1_wide_sec.iloc[0,:]

measure_tag
company_name                                                             'MKTG, INC.'
period_end_date                                                   2014-03-31 00:00:00
submission_number                                                0001019056-14-000881
central_index_key                                                              886475
ein                                                                         061340408
sic                                                                              7310
fiscal_year_end                                                                   331
fiscal_year                                                                      2013
form                                                                             10-K
date_filed                                                        2014-06-27 00:00:00
Assets                                                                    44388809.00
AssetsCurrent                                                             29345120.00
CashAndCashEquivalentsAtCarryingValue                                      9473743.00
CashAndCashEquivalentsPeriodIncreaseDecrease                              -1766092.00
CommonStockValue                                                              9080.00
CostsAndExpenses                                                                  NaN
CurrentAsset                                                                      NaN
DeferredIncomeTaxExpenseBenefit                                            1453000.00
DeferredIncomeTaxLiabilities                                                      NaN
DeferredIncomeTaxLiabilitiesNet                                                   NaN
DeferredIncomeTaxesAndTaxCredits                                                  NaN
Depreciation                                                                      NaN
EarningsPerShareBasic                                                            0.28
EarningsPerShareDiluted                                                          0.13
GrossProfit                                                                       NaN
Liabilities                                                               28350215.00
LiabilitiesAndStockholdersEquity                                          44388809.00
LiabilitiesCurrent                                                        20899958.00
LongTermDebt                                                                      NaN
LongTermDebtCurrent                                                               NaN
LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths                     NaN
LongTermDebtNoncurrent                                                            NaN
NetCashProvidedByUsedInFinancingActivities                                  -31532.00
NetCashProvidedByUsedInInvestingActivities                                -1775577.00
NetCashProvidedByUsedInOperatingActivities                                  -71442.00
NetIncomeLoss                                                              2293272.00
OperatingExpenses                                                        136198952.00
OperatingIncomeLoss                                                        2830011.00
ProfitLoss                                                                 2293272.00
RepaymentsOfLongTermDebt                                                          NaN
Revenues                                                                          NaN
SalesRevenueNet                                                                   NaN
StockholdersEquity                                                        12190322.00
TotalAsset                                                                        NaN
Name: 2, dtype: object

In [ ]:
# add the industry descriptions for each SIC code

In [39]:
query_ind = "SELECT * FROM sic_codes;"

sic_codes = pd_sql.read_sql(query_ind, connection)
sic_codes.columns

Index(['SIC Code', 'Industry', 'Unnamed: 2'], dtype='object')

In [40]:
f1_wide_sec.shape

(173996, 44)

In [47]:
query = """ 
SELECT a.*, b.Industry
FROM f1_wide_sec as a 
    LEFT JOIN sic_codes as b
ON a.sic = b.[SIC Code]
"""

ind_wide_sec = pysqldf(query)
ind_wide_sec.head()

## this join made period_end_date and date_filed into datetimes

,company_name,period_end_date,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,date_filed,...,NetIncomeLoss,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,TotalAsset,Industry
0,"'MKTG, INC.'",2014-03-31 00:00:00.000000,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,2014-06-27 00:00:00.000000,...,2293272.0,136198952.0,2830011.0,2293272.0,NaN,NaN,NaN,12190322.0,NaN,Services-Advertising
1,"024 PHARMA, INC.",2015-12-31 00:00:00.000000,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24 00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137994.0,NaN,"Plastics Products, NEC"
2,"024 PHARMA, INC.",2016-12-31 00:00:00.000000,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24 00:00:00.000000,...,621040.0,NaN,NaN,NaN,NaN,1079541.0,NaN,759035.0,NaN,"Plastics Products, NEC"
3,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0001437749-14-016921,1084869,113117311,5990,630,2014,10-K,2014-09-12 00:00:00.000000,...,NaN,291967000.0,23706000.0,14675000.0,NaN,NaN,756345000.0,183199000.0,NaN,"Retail-Retail Stores, NEC"
4,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0001437749-15-017184,1084869,113117311,5990,630,2015,10-K,2015-09-11 00:00:00.000000,...,NaN,291967000.0,23706000.0,14675000.0,NaN,NaN,756345000.0,183228000.0,NaN,"Retail-Retail Stores, NEC"

In [85]:
# add overall industry division discription

In [51]:
ind_wide_sec['div_code'] = ind_wide_sec['sic'].str[:2]

In [45]:
query_div = "SELECT * FROM sic_divisions;"

sic_div = pd_sql.read_sql(query_div, connection)
sic_div.columns

Index(['div_code', 'Division'], dtype='object')

In [53]:
query = """ 
SELECT a.*, b.Division
FROM ind_wide_sec as a 
    LEFT JOIN sic_div as b
ON a.div_code = b.div_code
"""

div_wide_sec = pysqldf(query)
div_wide_sec.head()

,company_name,period_end_date,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,date_filed,...,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,TotalAsset,Industry,div_code,Division
0,"'MKTG, INC.'",2014-03-31 00:00:00.000000,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,2014-06-27 00:00:00.000000,...,2830011.0,2293272.0,NaN,NaN,NaN,12190322.0,NaN,Services-Advertising,73,Services
1,"024 PHARMA, INC.",2015-12-31 00:00:00.000000,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24 00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,137994.0,NaN,"Plastics Products, NEC",30,Manufacturing
2,"024 PHARMA, INC.",2016-12-31 00:00:00.000000,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24 00:00:00.000000,...,NaN,NaN,NaN,1079541.0,NaN,759035.0,NaN,"Plastics Products, NEC",30,Manufacturing
3,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0001437749-14-016921,1084869,113117311,5990,630,2014,10-K,2014-09-12 00:00:00.000000,...,23706000.0,14675000.0,NaN,NaN,756345000.0,183199000.0,NaN,"Retail-Retail Stores, NEC",59,Retail Trade
4,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0001437749-15-017184,1084869,113117311,5990,630,2015,10-K,2015-09-11 00:00:00.000000,...,23706000.0,14675000.0,NaN,NaN,756345000.0,183228000.0,NaN,"Retail-Retail Stores, NEC",59,Retail Trade

In [57]:
div_wide_sec.shape

(173996, 47)

In [54]:
div_wide_sec['Division'].value_counts()

Manufacturing                                                         62794
Finance, Insurance and Real Estate                                    42109
Services                                                              27219
Transportation, Communications, Electric, Gas and Sanitary service    14348
Retail Trade                                                          10049
Mining                                                                 9752
Wholesale Trade                                                        4732
Construction                                                           2198
Agriculture, Forestry and Fishing                                       730
Nonclassifiable                                                          65
Name: Division, dtype: int64

In [58]:
div_wide_sec['Division'].count()

173996

In [59]:
div_wide_sec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173996 entries, 0 to 173995
Data columns (total 47 columns):
 #   Column                                                         Non-Null Count   Dtype
---  ------                                                         --------------   -----
 0   company_name                                                   173996 non-null  object
 1   period_end_date                                                173996 non-null  object
 2   submission_number                                              173996 non-null  object
 3   central_index_key                                              173996 non-null  object
 4   ein                                                            173996 non-null  object
 5   sic                                                            173996 non-null  object
 6   fiscal_year_end                                                173996 non-null  int64
 7   fiscal_year                                                    173996 non-null  int64
 8   form                                                           173996 non-null  object
 9   date_filed                                                     173996 non-null  object
 10  Assets                                                         61069 non-null   float64
 11  AssetsCurrent                                                  45769 non-null   float64
 12  CashAndCashEquivalentsAtCarryingValue                          72145 non-null   float64
 13  CashAndCashEquivalentsPeriodIncreaseDecrease                   54170 non-null   float64
 14  CommonStockValue                                               48585 non-null   float64
 15  CostsAndExpenses                                               18958 non-null   float64
 16  CurrentAsset                                                   3 non-null       float64
 17  DeferredIncomeTaxExpenseBenefit                                42660 non-null   float64
 18  DeferredIncomeTaxLiabilities                                   23610 non-null   float64
 19  DeferredIncomeTaxLiabilitiesNet                                3649 non-null    float64
 20  DeferredIncomeTaxesAndTaxCredits                               6935 non-null    float64
 21  Depreciation                                                   37891 non-null   float64
 22  EarningsPerShareBasic                                          101290 non-null  float64
 23  EarningsPerShareDiluted                                        100527 non-null  float64
 24  GrossProfit                                                    63834 non-null   float64
 25  Liabilities                                                    46437 non-null   float64
 26  LiabilitiesAndStockholdersEquity                               58515 non-null   float64
 27  LiabilitiesCurrent                                             45787 non-null   float64
 28  LongTermDebt                                                   17193 non-null   float64
 29  LongTermDebtCurrent                                            13224 non-null   float64
 30  LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths  9525 non-null    float64
 31  LongTermDebtNoncurrent                                         16369 non-null   float64
 32  NetCashProvidedByUsedInFinancingActivities                     48337 non-null   float64
 33  NetCashProvidedByUsedInInvestingActivities                     44441 non-null   float64
 34  NetCashProvidedByUsedInOperatingActivities                     49398 non-null   float64
 35  NetIncomeLoss                                                  137999 non-null  float64
 36  OperatingExpenses                                              45216 non-null   float64
 37  OperatingIncomeLoss                                            94089 non-null   float64
 38  ProfitLoss                                                     47896 non-null   float64
 39  RepaymentsOfLongTermDebt                                       18202 non-null   float64
 40  Revenues                                                       66758 non-null   float64
 41  SalesRevenueNet                                                37854 non-null   float64
 42  StockholdersEquity                                             70508 non-null   float64
 43  TotalAsset                                                     7 non-null       float64
 44  Industry                                                       173996 non-null  object
 45  div_code                                                       173996 non-null  object
 46  Division                                                       173996 non-null  object
dtypes: float64(34), int64(2), object(11)
memory usage: 62.4+ MB

In [60]:
# save the wide table with industry descriptions in postgres db

In [62]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://amybutler:localhost@localhost:5432/bankruptcy')

In [63]:
div_wide_sec.to_sql('sec_wide_all', engine, index=False)

In [64]:
#check table saved and can be queried
query = 'SELECT * FROM sec_wide_all LIMIT 5;'
df = pd.read_sql(query, engine)

df.head()

,company_name,period_end_date,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,date_filed,...,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,TotalAsset,Industry,div_code,Division
0,"'MKTG, INC.'",2014-03-31 00:00:00.000000,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,2014-06-27 00:00:00.000000,...,2830011.0,2293272.0,None,NaN,NaN,12190322.0,None,Services-Advertising,73,Services
1,"024 PHARMA, INC.",2015-12-31 00:00:00.000000,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24 00:00:00.000000,...,NaN,NaN,None,NaN,NaN,137994.0,None,"Plastics Products, NEC",30,Manufacturing
2,"024 PHARMA, INC.",2016-12-31 00:00:00.000000,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24 00:00:00.000000,...,NaN,NaN,None,1079541.0,NaN,759035.0,None,"Plastics Products, NEC",30,Manufacturing
3,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0001437749-14-016921,1084869,113117311,5990,630,2014,10-K,2014-09-12 00:00:00.000000,...,23706000.0,14675000.0,None,NaN,756345000.0,183199000.0,None,"Retail-Retail Stores, NEC",59,Retail Trade
4,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0001437749-15-017184,1084869,113117311,5990,630,2015,10-K,2015-09-11 00:00:00.000000,...,23706000.0,14675000.0,None,NaN,756345000.0,183228000.0,None,"Retail-Retail Stores, NEC",59,Retail Trade