In [ ]:
"""
Prepare SEC data to be analyzed further and for classification model features.
As-is all the financial statement labels in the column "measure_tag"

The SEC data is tall and needs pivoted so model feature in own column

Apply additional logics to fill in where multiple possible columns
for same measure. There is not any standardization as to what measures 
each company has to submit or how the measures be labeled. 

Apply logics to fill forward where multiple submissions for any period_end_date
and the company did not re-submit previously provided data

Keep only one row for any company and period_end_date of financial measures


Add the industry code descriptions 
Add the industry division descriptions

"""

In [ ]:
# based on EDA, will filter to only where USD values, 
# some non-US companies sent SEC the US form 10-K

# this code was run to create separate table in local postgres db

"""  
CREATE TABLE sec_usd_all as 
SELECT * 
FROM sec_ALL_raw 
WHERE units='USD';


rows:1856236
"""

In [1]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as pd_sql
import numpy as np
import datetime as dt

In [2]:
from pandasql import sqldf
# PandaSQL needs to be able to reference the global variables already defined
pysqldf = lambda q: sqldf(q, globals())

In [3]:
# Postgres info to connect

connection_args = {
    'host': 'localhost',  
    'dbname': 'bankruptcy',  
    'port': 5432          
}

connection = pg.connect(**connection_args)
connection.autocommit = True

In [4]:
query = "SELECT * FROM sec_usd_all LIMIT 5;"

pd_sql.read_sql(query, connection)

,submission_number,company_name,measure_tag,period_end_date,value,units,number_of_quarters,version,central_index_key,ein,sic,fiscal_year_end,form,fiscal_year,fiscal_period_focus,date_filed,date_accepted
0,0000002178-15-000014,"ADAMS RESOURCES & ENERGY, INC.",Assets,2014-12-31,340814000.0,USD,0,us-gaap/2014,2178,741753147,5172,1231,10-K,2014,FY,2015-03-13,2015-03-13 15:04:00 UTC
1,0000002178-15-000014,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2014-12-31,250945000.0,USD,0,us-gaap/2014,2178,741753147,5172,1231,10-K,2014,FY,2015-03-13,2015-03-13 15:04:00 UTC
2,0000002178-15-000014,"ADAMS RESOURCES & ENERGY, INC.",CashAndCashEquivalentsAtCarryingValue,2014-12-31,80184000.0,USD,0,us-gaap/2014,2178,741753147,5172,1231,10-K,2014,FY,2015-03-13,2015-03-13 15:04:00 UTC
3,0000002178-15-000014,"ADAMS RESOURCES & ENERGY, INC.",CashAndCashEquivalentsPeriodIncreaseDecrease,2014-12-31,19451000.0,USD,4,us-gaap/2014,2178,741753147,5172,1231,10-K,2014,FY,2015-03-13,2015-03-13 15:04:00 UTC
4,0000002178-15-000014,"ADAMS RESOURCES & ENERGY, INC.",CommonStockValue,2014-12-31,422000.0,USD,0,us-gaap/2014,2178,741753147,5172,1231,10-K,2014,FY,2015-03-13,2015-03-13 15:04:00 UTC

In [5]:
query_all = "SELECT * FROM sec_usd_all;"
sec_df = pd_sql.read_sql(query_all, connection)

In [6]:
sec_df.shape

(1856236, 17)

In [7]:
sec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1856236 entries, 0 to 1856235
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   submission_number    object
 1   company_name         object
 2   measure_tag          object
 3   period_end_date      datetime64[ns]
 4   value                float64
 5   units                object
 6   number_of_quarters   int64
 7   version              object
 8   central_index_key    object
 9   ein                  object
 10  sic                  object
 11  fiscal_year_end      int64
 12  form                 object
 13  fiscal_year          int64
 14  fiscal_period_focus  object
 15  date_filed           datetime64[ns]
 16  date_accepted        object
dtypes: datetime64[ns](2), float64(1), int64(3), object(11)
memory usage: 240.8+ MB

In [8]:
sec_df.columns

Index(['submission_number', 'company_name', 'measure_tag', 'period_end_date',
       'value', 'units', 'number_of_quarters', 'version', 'central_index_key',
       'ein', 'sic', 'fiscal_year_end', 'form', 'fiscal_year',
       'fiscal_period_focus', 'date_filed', 'date_accepted'],
      dtype='object')

In [9]:
# from EDA of raw data, filter to where number of quarters is 0 or 4
# the 10-K are annual reports

sec_df2 = sec_df[sec_df['number_of_quarters'].isin([0,4])]
sec_df2.shape

(1333575, 17)

In [10]:
#pivot the tall df to be wide on the measures

wide_sec = sec_df2.pivot_table(index=['company_name','period_end_date', 'number_of_quarters',
                                              'submission_number','central_index_key',
                                             'ein', 'sic', 'fiscal_year_end', 'fiscal_year', 'form',
                                             'date_filed'],
                        columns='measure_tag', values='value').reset_index()
wide_sec.head()

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueGoodsNet,SalesRevenueNet,StockholdersEquity,TotalAsset,WorkingCapital
0,"'MKTG, INC.'",2014-03-31,0,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12190322.0,NaN,NaN
1,"'MKTG, INC.'",2014-03-31,4,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,136198952.0,2830011.0,2293272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"024 PHARMA, INC.",2015-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137994.0,NaN,NaN
3,"024 PHARMA, INC.",2016-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,759035.0,NaN,NaN
4,"024 PHARMA, INC.",2016-12-31,4,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,1079541.0,NaN,NaN,NaN,NaN,NaN

In [11]:
wide_sec['number_of_quarters'].unique()

array([0, 4])

In [12]:
wide_sec.shape

(155783, 51)

In [14]:
# drop any finanical report data before 2014

f1_wide_sec = wide_sec[wide_sec['period_end_date'] > dt.datetime(2014, 1, 1) ]
f1_wide_sec.shape

(155783, 51)

In [15]:
f1_wide_sec.columns

Index(['company_name', 'period_end_date', 'number_of_quarters',
       'submission_number', 'central_index_key', 'ein', 'sic',
       'fiscal_year_end', 'fiscal_year', 'form', 'date_filed', 'Assets',
       'AssetsCurrent', 'CashAndCashEquivalentsAtCarryingValue',
       'CashAndCashEquivalentsPeriodIncreaseDecrease', 'CommonStockValue',
       'CostsAndExpenses', 'CurrentAsset', 'DeferredIncomeTaxExpenseBenefit',
       'DeferredIncomeTaxLiabilities', 'DeferredIncomeTaxLiabilitiesNet',
       'DeferredIncomeTaxesAndTaxCredits', 'Depreciation',
       'EarningsPerShareBasic', 'EarningsPerShareDiluted', 'Goodwill',
       'GrossProfit', 'IncreaseDecreaseInInventories', 'InterestExpense',
       'InventoryNet', 'Liabilities', 'LiabilitiesAndStockholdersEquity',
       'LiabilitiesCurrent', 'LongTermDebt', 'LongTermDebtCurrent',
       'LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths',
       'LongTermDebtNoncurrent', 'NetCashProvidedByUsedInFinancingActivities',
       'NetCashProvidedByUsedInInvestingActivities',
       'NetCashProvidedByUsedInOperatingActivities', 'NetIncomeLoss',
       'OperatingExpenses', 'OperatingIncomeLoss', 'ProfitLoss',
       'RepaymentsOfLongTermDebt', 'Revenues', 'SalesRevenueGoodsNet',
       'SalesRevenueNet', 'StockholdersEquity', 'TotalAsset',
       'WorkingCapital'],
      dtype='object', name='measure_tag')

In [16]:
# sort df
f1_wide_sec.sort_values(by=['company_name', 'period_end_date', 'date_filed'], inplace=True)
f1_wide_sec.head()

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueGoodsNet,SalesRevenueNet,StockholdersEquity,TotalAsset,WorkingCapital
0,"'MKTG, INC.'",2014-03-31,0,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12190322.0,NaN,NaN
1,"'MKTG, INC.'",2014-03-31,4,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,136198952.0,2830011.0,2293272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"024 PHARMA, INC.",2015-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137994.0,NaN,NaN
3,"024 PHARMA, INC.",2016-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,759035.0,NaN,NaN
4,"024 PHARMA, INC.",2016-12-31,4,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,1079541.0,NaN,NaN,NaN,NaN,NaN

In [17]:
# From EDA of SEC data, some companies keep re-subitting previous reports,
# sometimes with only one new value, need to get the previously submitted data

# fill forward within groupby

# leave the NaN's to apply additional logics

cols = ['Assets',
       'AssetsCurrent', 'CashAndCashEquivalentsAtCarryingValue',
       'CashAndCashEquivalentsPeriodIncreaseDecrease', 'CommonStockValue',
       'CostsAndExpenses', 'CurrentAsset', 'DeferredIncomeTaxExpenseBenefit',
       'DeferredIncomeTaxLiabilities', 'DeferredIncomeTaxLiabilitiesNet',
       'DeferredIncomeTaxesAndTaxCredits', 'Depreciation',
       'EarningsPerShareBasic', 'EarningsPerShareDiluted', 'Goodwill',
       'GrossProfit', 'IncreaseDecreaseInInventories', 'InterestExpense',
       'InventoryNet', 'Liabilities', 'LiabilitiesAndStockholdersEquity',
       'LiabilitiesCurrent', 'LongTermDebt', 'LongTermDebtCurrent',
       'LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths',
       'LongTermDebtNoncurrent', 'NetCashProvidedByUsedInFinancingActivities',
       'NetCashProvidedByUsedInInvestingActivities',
       'NetCashProvidedByUsedInOperatingActivities', 'NetIncomeLoss',
       'OperatingExpenses', 'OperatingIncomeLoss', 'ProfitLoss',
       'RepaymentsOfLongTermDebt', 'Revenues', 'SalesRevenueGoodsNet',
       'SalesRevenueNet', 'StockholdersEquity', 'TotalAsset',
       'WorkingCapital']


f1_wide_sec.update(f1_wide_sec.groupby(['company_name', 'period_end_date'])[cols].ffill())

In [18]:
f1_wide_sec.head()

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueGoodsNet,SalesRevenueNet,StockholdersEquity,TotalAsset,WorkingCapital
0,"'MKTG, INC.'",2014-03-31,0,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12190322.0,NaN,NaN
1,"'MKTG, INC.'",2014-03-31,4,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,136198952.0,2830011.0,2293272.0,NaN,NaN,NaN,NaN,12190322.0,NaN,NaN
2,"024 PHARMA, INC.",2015-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137994.0,NaN,NaN
3,"024 PHARMA, INC.",2016-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,759035.0,NaN,NaN
4,"024 PHARMA, INC.",2016-12-31,4,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,1079541.0,NaN,NaN,759035.0,NaN,NaN

In [ ]:
# If assume companies that have some missing fields have balanced financials, can fill in the missing fields

In [19]:
# fill in StockholdersEquity 

f1_wide_sec['StockholdersEquity'].fillna(f1_wide_sec['LiabilitiesAndStockholdersEquity'] - f1_wide_sec['Liabilities'], inplace=True)

In [20]:
f1_wide_sec['StockholdersEquity'].isna().value_counts()

False    149483
True       6300
Name: StockholdersEquity, dtype: int64

In [21]:
## fill in LiabilitiesAndStockholdersEquity

f1_wide_sec['LiabilitiesAndStockholdersEquity'].fillna(f1_wide_sec['StockholdersEquity'] + f1_wide_sec['Liabilities'], inplace=True)

In [22]:
f1_wide_sec['LiabilitiesAndStockholdersEquity'].isna().value_counts()

False    149361
True       6422
Name: LiabilitiesAndStockholdersEquity, dtype: int64

In [23]:
## fill in Liabilities

f1_wide_sec['Liabilities'].fillna(f1_wide_sec['LiabilitiesAndStockholdersEquity'] - f1_wide_sec['StockholdersEquity'], inplace=True)

In [24]:
f1_wide_sec['Liabilities'].isna().value_counts()

False    146505
True       9278
Name: Liabilities, dtype: int64

In [25]:
# couple companies reported Assets in Total Assets

f1_wide_sec['Assets'].fillna(f1_wide_sec['TotalAsset'], inplace=True)

In [26]:
f1_wide_sec['Assets'].isna().value_counts()

False    148708
True       7075
Name: Assets, dtype: int64

In [27]:
# majority of companies use the AssetsCurrent field.  Few used CurrentAsset

f1_wide_sec['AssetsCurrent'].fillna(f1_wide_sec['CurrentAsset'], inplace=True)

In [28]:
f1_wide_sec.drop(['CurrentAsset', 'TotalAsset'], axis=1, inplace=True)

In [29]:
# filter to where Assets >= 100MM
# this is the threshold for the bankruptcy list from UCLA

f2_wide_sec = f1_wide_sec[f1_wide_sec['Assets'] >= 1e8]
f2_wide_sec.shape

(94964, 49)

In [30]:
f2_wide_sec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94964 entries, 5 to 155763
Data columns (total 49 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   company_name                                                   94964 non-null  object
 1   period_end_date                                                94964 non-null  datetime64[ns]
 2   number_of_quarters                                             94964 non-null  int64
 3   submission_number                                              94964 non-null  object
 4   central_index_key                                              94964 non-null  object
 5   ein                                                            94964 non-null  object
 6   sic                                                            94964 non-null  object
 7   fiscal_year_end                                                94964 non-null  int64
 8   fiscal_year                                                    94964 non-null  int64
 9   form                                                           94964 non-null  object
 10  date_filed                                                     94964 non-null  datetime64[ns]
 11  Assets                                                         94964 non-null  float64
 12  AssetsCurrent                                                  67347 non-null  float64
 13  CashAndCashEquivalentsAtCarryingValue                          89205 non-null  float64
 14  CashAndCashEquivalentsPeriodIncreaseDecrease                   63374 non-null  float64
 15  CommonStockValue                                               73878 non-null  float64
 16  CostsAndExpenses                                               18994 non-null  float64
 17  DeferredIncomeTaxExpenseBenefit                                60829 non-null  float64
 18  DeferredIncomeTaxLiabilities                                   56162 non-null  float64
 19  DeferredIncomeTaxLiabilitiesNet                                8682 non-null   float64
 20  DeferredIncomeTaxesAndTaxCredits                               10137 non-null  float64
 21  Depreciation                                                   43147 non-null  float64
 22  EarningsPerShareBasic                                          56752 non-null  float64
 23  EarningsPerShareDiluted                                        55936 non-null  float64
 24  Goodwill                                                       66232 non-null  float64
 25  GrossProfit                                                    28092 non-null  float64
 26  IncreaseDecreaseInInventories                                  35179 non-null  float64
 27  InterestExpense                                                53239 non-null  float64
 28  InventoryNet                                                   45398 non-null  float64
 29  Liabilities                                                    92225 non-null  float64
 30  LiabilitiesAndStockholdersEquity                               94224 non-null  float64
 31  LiabilitiesCurrent                                             67285 non-null  float64
 32  LongTermDebt                                                   43441 non-null  float64
 33  LongTermDebtCurrent                                            29048 non-null  float64
 34  LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths  37003 non-null  float64
 35  LongTermDebtNoncurrent                                         37126 non-null  float64
 36  NetCashProvidedByUsedInFinancingActivities                     49393 non-null  float64
 37  NetCashProvidedByUsedInInvestingActivities                     49448 non-null  float64
 38  NetCashProvidedByUsedInOperatingActivities                     49653 non-null  float64
 39  NetIncomeLoss                                                  66498 non-null  float64
 40  OperatingExpenses                                              26856 non-null  float64
 41  OperatingIncomeLoss                                            54744 non-null  float64
 42  ProfitLoss                                                     32514 non-null  float64
 43  RepaymentsOfLongTermDebt                                       27308 non-null  float64
 44  Revenues                                                       33391 non-null  float64
 45  SalesRevenueGoodsNet                                           13324 non-null  float64
 46  SalesRevenueNet                                                22933 non-null  float64
 47  StockholdersEquity                                             92249 non-null  float64
 48  WorkingCapital                                                 417 non-null    float64
dtypes: datetime64[ns](2), float64(38), int64(3), object(6)
memory usage: 36.2+ MB

In [ ]:
# df already sorted by company_name, period_end_date, and date_filed
# and has been filled forward within company_name, period_end_date group

# keep only one row for company_name, period_end_date

# no company should have more than 5 rows, but this may have occured if 
# data submission labeled 10-Q rather than 10-K

In [31]:
f3_wide_sec  = f2_wide_sec.groupby(['company_name', 'period_end_date']).tail(1)
f3_wide_sec.shape

(20891, 49)

In [32]:
f3_wide_sec['company_name'].value_counts()

CULP INC                                  22
PENNYMAC FINANCIAL SERVICES, INC.         20
SANTANDER CONSUMER USA HOLDINGS INC.      20
PENNYMAC MORTGAGE INVESTMENT TRUST        20
FIRST BANCORP, INC /ME/                   20
                                          ..
ALLIANCE BANCORP, INC. OF PENNSYLVANIA     1
ZILLOW INC                                 1
ONCOTHYREON INC.                           1
NIELSEN N.V.                               1
GENMARK DIAGNOSTICS, INC.                  1
Name: company_name, Length: 5386, dtype: int64

In [34]:
f3_wide_sec[f3_wide_sec['company_name'] == 'PENNYMAC FINANCIAL SERVICES, INC.' ].head()

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,NetIncomeLoss,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueGoodsNet,SalesRevenueNet,StockholdersEquity,WorkingCapital
108942,"PENNYMAC FINANCIAL SERVICES, INC.",2014-03-31,0,0001558370-16-003986,1568669,800882793,6162,1231,2015,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,675078000.0,NaN
108944,"PENNYMAC FINANCIAL SERVICES, INC.",2014-06-30,0,0001558370-16-003986,1568669,800882793,6162,1231,2015,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,721693000.0,NaN
108946,"PENNYMAC FINANCIAL SERVICES, INC.",2014-09-30,0,0001558370-16-003986,1568669,800882793,6162,1231,2015,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,766449000.0,NaN
108951,"PENNYMAC FINANCIAL SERVICES, INC.",2014-12-31,4,0001558370-17-001522,1568669,800882793,6162,1231,2016,10-K,...,196311000.0,295244000.0,NaN,196311000.0,NaN,518277000.0,NaN,NaN,213964000.0,NaN
108953,"PENNYMAC FINANCIAL SERVICES, INC.",2015-03-31,0,0001558370-17-001522,1568669,800882793,6162,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,852836000.0,NaN

In [ ]:
## after examining a few companies, their quarterly files are with the annual form 10-K
## just filtering on number_of_quarters = 4 will remove good data
## even the largest companies with 1 row per year, have some number_of_quarters=0 for their annual report

In [35]:
f3_wide_sec.fiscal_year_end.unique()

array([ 630, 1231, 1130,  331,  131,  531, 1031,  831,  930,  430,  228,
        229,  731,  401])

In [ ]:
## the fiscal_year_end field could be used to apply logic 
## to keep rows where month and day of period_end_date
## equals the month and day of fiscal_year_end

In [37]:
f3_wide_sec['FY_end'] = f3_wide_sec['fiscal_year_end'].astype(str)
f3_wide_sec['FY_end_day'] = f3_wide_sec['FY_end'].str[-2:].astype(int)
f3_wide_sec['FY_end_month'] = f3_wide_sec['FY_end'].str[:-2].astype(int)
f3_wide_sec.head()

<ipython-input-37-d9e1c845d3d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3_wide_sec['FY_end'] = f3_wide_sec['fiscal_year_end'].astype(str)
<ipython-input-37-d9e1c845d3d7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3_wide_sec['FY_end_day'] = f3_wide_sec['FY_end'].str[-2:].astype(int)
<ipython-input-37-d9e1c845d3d7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3_wide_sec['FY_end_month'] = f3_wide_sec['FY_end'].str[:-2].astype(int)

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueGoodsNet,SalesRevenueNet,StockholdersEquity,WorkingCapital,FY_end,FY_end_day,FY_end_month
8,1 800 FLOWERS COM INC,2014-06-30,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,14675000.0,NaN,NaN,NaN,7.563450e+08,183228000.0,NaN,630,30,6
15,1 800 FLOWERS COM INC,2015-06-30,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,19384000.0,NaN,NaN,NaN,1.121506e+09,208449000.0,NaN,630,30,6
22,1 800 FLOWERS COM INC,2016-06-30,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,35868000.0,NaN,1.173024e+09,NaN,1.173024e+09,242586000.0,NaN,630,30,6
31,1 800 FLOWERS COM INC,2017-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,44041000.0,NaN,1.193625e+09,NaN,1.193625e+09,282239000.0,NaN,630,30,6
35,1 800 FLOWERS COM INC,2018-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,40791000.0,NaN,1.151921e+09,NaN,NaN,314904000.0,NaN,630,30,6

In [38]:
f3_wide_sec['keep_row'] = np.where((f3_wide_sec['period_end_date'].dt.month ==f3_wide_sec['FY_end_month'] )
                                   & (f3_wide_sec['period_end_date'].dt.day ==f3_wide_sec['FY_end_day'] ), 1, 0)

<ipython-input-38-39e6b45e17dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3_wide_sec['keep_row'] = np.where((f3_wide_sec['period_end_date'].dt.month ==f3_wide_sec['FY_end_month'] )

In [39]:
f3_wide_sec.head()

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,RepaymentsOfLongTermDebt,Revenues,SalesRevenueGoodsNet,SalesRevenueNet,StockholdersEquity,WorkingCapital,FY_end,FY_end_day,FY_end_month,keep_row
8,1 800 FLOWERS COM INC,2014-06-30,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,NaN,NaN,NaN,7.563450e+08,183228000.0,NaN,630,30,6,1
15,1 800 FLOWERS COM INC,2015-06-30,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,NaN,NaN,NaN,1.121506e+09,208449000.0,NaN,630,30,6,1
22,1 800 FLOWERS COM INC,2016-06-30,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,NaN,1.173024e+09,NaN,1.173024e+09,242586000.0,NaN,630,30,6,1
31,1 800 FLOWERS COM INC,2017-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,NaN,1.193625e+09,NaN,1.193625e+09,282239000.0,NaN,630,30,6,1
35,1 800 FLOWERS COM INC,2018-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,NaN,1.151921e+09,NaN,NaN,314904000.0,NaN,630,30,6,1

In [40]:
f3_wide_sec.shape

(20891, 53)

In [41]:
f4_wide_sec = f3_wide_sec[f3_wide_sec['keep_row']==1]
f4_wide_sec.shape

(20308, 53)

In [ ]:
################################

In [ ]:
# add the industry descriptions for each SIC code

In [42]:
query_ind = "SELECT * FROM sic_codes;"

sic_codes = pd_sql.read_sql(query_ind, connection)
sic_codes.columns

Index(['SIC Code', 'Industry', 'Unnamed: 2'], dtype='object')

In [43]:
query = """ 
SELECT a.*, b.Industry
FROM f4_wide_sec as a 
    LEFT JOIN sic_codes as b
ON a.sic = b.[SIC Code]
"""

ind_wide_sec = pysqldf(query)
ind_wide_sec.head()

## this join made period_end_date and date_filed into datetimes

,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,Revenues,SalesRevenueGoodsNet,SalesRevenueNet,StockholdersEquity,WorkingCapital,FY_end,FY_end_day,FY_end_month,keep_row,Industry
0,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,NaN,NaN,7.563450e+08,183228000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC"
1,1 800 FLOWERS COM INC,2015-06-30 00:00:00.000000,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,NaN,NaN,1.121506e+09,208449000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC"
2,1 800 FLOWERS COM INC,2016-06-30 00:00:00.000000,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.173024e+09,NaN,1.173024e+09,242586000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC"
3,1 800 FLOWERS COM INC,2017-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.193625e+09,NaN,1.193625e+09,282239000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC"
4,1 800 FLOWERS COM INC,2018-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.151921e+09,NaN,NaN,314904000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC"

In [44]:
ind_wide_sec.shape

(20308, 54)

In [85]:
# add overall industry division discription

In [45]:
ind_wide_sec['div_code'] = ind_wide_sec['sic'].str[:2]

In [46]:
query_div = "SELECT * FROM sic_divisions;"

sic_div = pd_sql.read_sql(query_div, connection)
sic_div.columns

Index(['div_code', 'Division'], dtype='object')

In [47]:
query = """ 
SELECT a.*, b.Division
FROM ind_wide_sec as a 
    LEFT JOIN sic_div as b
ON a.div_code = b.div_code
"""

div_wide_sec = pysqldf(query)
div_wide_sec.head()

,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,SalesRevenueNet,StockholdersEquity,WorkingCapital,FY_end,FY_end_day,FY_end_month,keep_row,Industry,div_code,Division
0,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,7.563450e+08,183228000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade
1,1 800 FLOWERS COM INC,2015-06-30 00:00:00.000000,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,1.121506e+09,208449000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade
2,1 800 FLOWERS COM INC,2016-06-30 00:00:00.000000,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.173024e+09,242586000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade
3,1 800 FLOWERS COM INC,2017-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.193625e+09,282239000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade
4,1 800 FLOWERS COM INC,2018-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,NaN,314904000.0,NaN,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade

In [48]:
div_wide_sec.shape

(20308, 56)

In [49]:
div_wide_sec['Division'].value_counts()

Manufacturing                                                         6274
Finance, Insurance and Real Estate                                    6141
Services                                                              2888
Transportation, Communications, Electric, Gas and Sanitary service    1897
Retail Trade                                                          1213
Mining                                                                1020
Wholesale Trade                                                        546
Construction                                                           259
Agriculture, Forestry and Fishing                                       70
Name: Division, dtype: int64

In [50]:
div_wide_sec['Division'].count()

20308

In [51]:
div_wide_sec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20308 entries, 0 to 20307
Data columns (total 56 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   company_name                                                   20308 non-null  object
 1   period_end_date                                                20308 non-null  object
 2   number_of_quarters                                             20308 non-null  int64
 3   submission_number                                              20308 non-null  object
 4   central_index_key                                              20308 non-null  object
 5   ein                                                            20308 non-null  object
 6   sic                                                            20308 non-null  object
 7   fiscal_year_end                                                20308 non-null  int64
 8   fiscal_year                                                    20308 non-null  int64
 9   form                                                           20308 non-null  object
 10  date_filed                                                     20308 non-null  object
 11  Assets                                                         20308 non-null  float64
 12  AssetsCurrent                                                  14286 non-null  float64
 13  CashAndCashEquivalentsAtCarryingValue                          19040 non-null  float64
 14  CashAndCashEquivalentsPeriodIncreaseDecrease                   16239 non-null  float64
 15  CommonStockValue                                               15727 non-null  float64
 16  CostsAndExpenses                                               5306 non-null   float64
 17  DeferredIncomeTaxExpenseBenefit                                16463 non-null  float64
 18  DeferredIncomeTaxLiabilities                                   12438 non-null  float64
 19  DeferredIncomeTaxLiabilitiesNet                                2520 non-null   float64
 20  DeferredIncomeTaxesAndTaxCredits                               2967 non-null   float64
 21  Depreciation                                                   11843 non-null  float64
 22  EarningsPerShareBasic                                          15256 non-null  float64
 23  EarningsPerShareDiluted                                        15036 non-null  float64
 24  Goodwill                                                       14009 non-null  float64
 25  GrossProfit                                                    7453 non-null   float64
 26  IncreaseDecreaseInInventories                                  9335 non-null   float64
 27  InterestExpense                                                14601 non-null  float64
 28  InventoryNet                                                   9489 non-null   float64
 29  Liabilities                                                    19739 non-null  float64
 30  LiabilitiesAndStockholdersEquity                               20144 non-null  float64
 31  LiabilitiesCurrent                                             14274 non-null  float64
 32  LongTermDebt                                                   9345 non-null   float64
 33  LongTermDebtCurrent                                            6206 non-null   float64
 34  LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths  7749 non-null   float64
 35  LongTermDebtNoncurrent                                         7924 non-null   float64
 36  NetCashProvidedByUsedInFinancingActivities                     16128 non-null  float64
 37  NetCashProvidedByUsedInInvestingActivities                     16088 non-null  float64
 38  NetCashProvidedByUsedInOperatingActivities                     16167 non-null  float64
 39  NetIncomeLoss                                                  18376 non-null  float64
 40  OperatingExpenses                                              7498 non-null   float64
 41  OperatingIncomeLoss                                            14894 non-null  float64
 42  ProfitLoss                                                     10019 non-null  float64
 43  RepaymentsOfLongTermDebt                                       7502 non-null   float64
 44  Revenues                                                       9809 non-null   float64
 45  SalesRevenueGoodsNet                                           3079 non-null   float64
 46  SalesRevenueNet                                                5264 non-null   float64
 47  StockholdersEquity                                             19734 non-null  float64
 48  WorkingCapital                                                 107 non-null    float64
 49  FY_end                                                         20308 non-null  object
 50  FY_end_day                                                     20308 non-null  int64
 51  FY_end_month                                                   20308 non-null  int64
 52  keep_row                                                       20308 non-null  int64
 53  Industry                                                       20308 non-null  object
 54  div_code                                                       20308 non-null  object
 55  Division                                                       20308 non-null  object
dtypes: float64(38), int64(6), object(12)
memory usage: 8.7+ MB

In [60]:
# save the wide table with industry descriptions in postgres db

In [52]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://amybutler:localhost@localhost:5432/bankruptcy')

In [53]:
div_wide_sec.to_sql('sec_wide_table', engine, index=False)

In [54]:
#check table saved and can be queried
query = 'SELECT * FROM sec_wide_table LIMIT 5;'
df = pd.read_sql(query, engine)

df.head()

,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,SalesRevenueNet,StockholdersEquity,WorkingCapital,FY_end,FY_end_day,FY_end_month,keep_row,Industry,div_code,Division
0,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,7.563450e+08,183228000.0,None,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade
1,1 800 FLOWERS COM INC,2015-06-30 00:00:00.000000,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,1.121506e+09,208449000.0,None,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade
2,1 800 FLOWERS COM INC,2016-06-30 00:00:00.000000,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.173024e+09,242586000.0,None,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade
3,1 800 FLOWERS COM INC,2017-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.193625e+09,282239000.0,None,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade
4,1 800 FLOWERS COM INC,2018-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,NaN,314904000.0,None,630,30,6,1,"Retail-Retail Stores, NEC",59,Retail Trade