In [1]:
"""
In terminal, the 6 raw SEC data tables in postgres db were combined by:


CREATE TABLE sec_ALL_raw as 
SELECT * FROM sec_2014_raw
UNION
SELECT * FROM sec_2015_raw
UNION
SELECT * FROM sec_2016_raw
UNION
SELECT * FROM sec_2017_raw
UNION
SELECT * FROM sec_2018_raw
UNION
SELECT * FROM sec_2019_raw;


rows = 2337506


"""

'\nexamine 2017 download from google cloud \nquery of SEC db\n'

In [ ]:
# filter to only where USD values, some non-US companies filed the US form 10-K

"""  
CREATE TABLE sec_ALL_USD as SELECT * FROM sec_ALL_raw WHERE units='USD';


rows:2333735
"""

In [ ]:
# the tall table needs pivoted so model features each have own column
# as-is all the financial statement labels are tall in the column "measure_tag"

In [141]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as pd_sql
import numpy as np
import datetime as dt

In [142]:
from pandasql import sqldf
# PandaSQL needs to be able to reference the global variables already defined
pysqldf = lambda q: sqldf(q, globals())

In [143]:
# Postgres info to connect

connection_args = {
    'host': 'localhost',  
    'dbname': 'bankruptcy',  
    'port': 5432          
}

connection = pg.connect(**connection_args)
connection.autocommit = True

In [4]:
query = "SELECT * FROM sec_ALL_USD LIMIT 5;"

pd_sql.read_sql(query, connection)

,submission_number,company_name,measure_tag,period_end_date,value,units,number_of_quarters,version,central_index_key,ein,sic,fiscal_year_end,form,fiscal_year,fiscal_period_focus,date_filed,date_accepted
0,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2011-12-31,378840000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
1,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2012-12-31,419501000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
2,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2013-12-31,448082000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
3,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2012-12-31,324556000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
4,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2013-12-31,351730000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC

In [5]:
query_all = "SELECT * FROM sec_ALL_USD;"
sec_df = pd_sql.read_sql(query_all, connection)

In [6]:
sec_df.head()

,submission_number,company_name,measure_tag,period_end_date,value,units,number_of_quarters,version,central_index_key,ein,sic,fiscal_year_end,form,fiscal_year,fiscal_period_focus,date_filed,date_accepted
0,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2011-12-31,378840000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
1,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2012-12-31,419501000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
2,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",Assets,2013-12-31,448082000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
3,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2012-12-31,324556000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC
4,0000002178-14-000010,"ADAMS RESOURCES & ENERGY, INC.",AssetsCurrent,2013-12-31,351730000.0,USD,0,us-gaap/2012,2178,741753147,5172,1231,10-K,2013,FY,2014-03-13,2014-03-13 15:11:00 UTC

In [7]:
sec_df.shape

(2333735, 17)

In [8]:
sec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333735 entries, 0 to 2333734
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   submission_number    object
 1   company_name         object
 2   measure_tag          object
 3   period_end_date      datetime64[ns]
 4   value                float64
 5   units                object
 6   number_of_quarters   int64
 7   version              object
 8   central_index_key    object
 9   ein                  object
 10  sic                  object
 11  fiscal_year_end      int64
 12  form                 object
 13  fiscal_year          int64
 14  fiscal_period_focus  object
 15  date_filed           datetime64[ns]
 16  date_accepted        object
dtypes: datetime64[ns](2), float64(1), int64(3), object(11)
memory usage: 302.7+ MB

In [9]:
sec_df.columns

Index(['submission_number', 'company_name', 'measure_tag', 'period_end_date',
       'value', 'units', 'number_of_quarters', 'version', 'central_index_key',
       'ein', 'sic', 'fiscal_year_end', 'form', 'fiscal_year',
       'fiscal_period_focus', 'date_filed', 'date_accepted'],
      dtype='object')

In [38]:
# from EDA of raw data, filter to where number of quarters is no greater than 4

#sec_df2= sec_df.drop(sec_df[sec_df['number_of_quarters'] >4].index) 

sec_df2 = sec_df[sec_df['number_of_quarters'].isin([0,4])]
sec_df2.shape

(1668564, 17)

In [39]:
wide_sec = sec_df2.pivot_table(index=['company_name','period_end_date', 'number_of_quarters',
                                              'submission_number','central_index_key',
                                             'ein', 'sic', 'fiscal_year_end', 'fiscal_year', 'form',
                                             'date_filed'],
                        columns='measure_tag', values='value').reset_index()
wide_sec.head()

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,NetCashProvidedByUsedInOperatingActivities,NetIncomeLoss,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,TotalAsset
0,"'MKTG, INC.'",2012-03-31,0,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"'MKTG, INC.'",2013-03-31,0,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10176844.0,NaN
2,"'MKTG, INC.'",2013-03-31,4,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,4984705.0,1214914.0,126115281.0,4694497.0,1214914.0,NaN,NaN,NaN,NaN,NaN
3,"'MKTG, INC.'",2014-03-31,0,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12190322.0,NaN
4,"'MKTG, INC.'",2014-03-31,4,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,-71442.0,2293272.0,136198952.0,2830011.0,2293272.0,NaN,NaN,NaN,NaN,NaN

In [40]:
wide_sec['number_of_quarters'].unique()

array([0, 4])

In [41]:
wide_sec.shape

(230373, 45)

In [51]:
# drop any finanical report data before 2014

f1_wide_sec = wide_sec[wide_sec['period_end_date'] > datetime.datetime(2014, 1, 1) ]
f1_wide_sec.shape

(154836, 45)

In [43]:
f1_wide_sec.columns

Index(['company_name', 'period_end_date', 'number_of_quarters',
       'submission_number', 'central_index_key', 'ein', 'sic',
       'fiscal_year_end', 'fiscal_year', 'form', 'date_filed', 'Assets',
       'AssetsCurrent', 'CashAndCashEquivalentsAtCarryingValue',
       'CashAndCashEquivalentsPeriodIncreaseDecrease', 'CommonStockValue',
       'CostsAndExpenses', 'CurrentAsset', 'DeferredIncomeTaxExpenseBenefit',
       'DeferredIncomeTaxLiabilities', 'DeferredIncomeTaxLiabilitiesNet',
       'DeferredIncomeTaxesAndTaxCredits', 'Depreciation',
       'EarningsPerShareBasic', 'EarningsPerShareDiluted', 'GrossProfit',
       'Liabilities', 'LiabilitiesAndStockholdersEquity', 'LiabilitiesCurrent',
       'LongTermDebt', 'LongTermDebtCurrent',
       'LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths',
       'LongTermDebtNoncurrent', 'NetCashProvidedByUsedInFinancingActivities',
       'NetCashProvidedByUsedInInvestingActivities',
       'NetCashProvidedByUsedInOperatingActivities', 'NetIncomeLoss',
       'OperatingExpenses', 'OperatingIncomeLoss', 'ProfitLoss',
       'RepaymentsOfLongTermDebt', 'Revenues', 'SalesRevenueNet',
       'StockholdersEquity', 'TotalAsset'],
      dtype='object', name='measure_tag')

In [52]:
# sort df
f1_wide_sec.sort_values(by=['company_name', 'period_end_date', 'date_filed'], inplace=True)
f1_wide_sec.head()

<ipython-input-52-6227beca8f14>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f1_wide_sec.sort_values(by=['company_name', 'period_end_date', 'date_filed'], inplace=True)

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,NetCashProvidedByUsedInOperatingActivities,NetIncomeLoss,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,TotalAsset
3,"'MKTG, INC.'",2014-03-31,0,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12190322.0,NaN
4,"'MKTG, INC.'",2014-03-31,4,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,-71442.0,2293272.0,136198952.0,2830011.0,2293272.0,NaN,NaN,NaN,NaN,NaN
5,"024 PHARMA, INC.",2015-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137994.0,NaN
6,"024 PHARMA, INC.",2016-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,759035.0,NaN
7,"024 PHARMA, INC.",2016-12-31,4,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,621040.0,NaN,NaN,NaN,NaN,1079541.0,NaN,NaN,NaN

In [54]:
# From EDA of SEC data, some companies keep resumbitting previous reports,
# sometimes with only one new value, need to get the previously submitted fields
# sometimes with some values but not all fields provided previously

# to take care of either scenario, fill forward within groupby

# leave the NaN's to apply additional logics

cols = ['Assets',
       'AssetsCurrent', 'CashAndCashEquivalentsAtCarryingValue',
       'CashAndCashEquivalentsPeriodIncreaseDecrease', 'CommonStockValue',
       'CostsAndExpenses', 'CurrentAsset', 'DeferredIncomeTaxExpenseBenefit',
       'DeferredIncomeTaxLiabilities', 'DeferredIncomeTaxLiabilitiesNet',
       'DeferredIncomeTaxesAndTaxCredits', 'Depreciation',
       'EarningsPerShareBasic', 'EarningsPerShareDiluted', 'GrossProfit',
       'Liabilities', 'LiabilitiesAndStockholdersEquity', 'LiabilitiesCurrent',
       'LongTermDebt', 'LongTermDebtCurrent',
       'LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths',
       'LongTermDebtNoncurrent', 'NetCashProvidedByUsedInFinancingActivities',
       'NetCashProvidedByUsedInInvestingActivities',
       'NetCashProvidedByUsedInOperatingActivities', 'NetIncomeLoss',
       'OperatingExpenses', 'OperatingIncomeLoss', 'ProfitLoss',
       'RepaymentsOfLongTermDebt', 'Revenues', 'SalesRevenueNet',
       'StockholdersEquity', 'TotalAsset']


f1_wide_sec.update(f1_wide_sec.groupby(['company_name', 'period_end_date'])[cols].ffill())

/Users/amybutler/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:6596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

In [55]:
f1_wide_sec.head()

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,NetCashProvidedByUsedInOperatingActivities,NetIncomeLoss,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,TotalAsset
3,"'MKTG, INC.'",2014-03-31,0,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12190322.0,NaN
4,"'MKTG, INC.'",2014-03-31,4,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,...,-71442.0,2293272.0,136198952.0,2830011.0,2293272.0,NaN,NaN,NaN,12190322.0,NaN
5,"024 PHARMA, INC.",2015-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137994.0,NaN
6,"024 PHARMA, INC.",2016-12-31,0,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,759035.0,NaN
7,"024 PHARMA, INC.",2016-12-31,4,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,...,NaN,621040.0,NaN,NaN,NaN,NaN,1079541.0,NaN,759035.0,NaN

In [ ]:
#If assume companies that have some missing fields have balanced financials,
# can fill in the missing fields

In [56]:
# Fill in StockholdersEquity 

f1_wide_sec['StockholdersEquity'].fillna(f1_wide_sec['LiabilitiesAndStockholdersEquity'] - f1_wide_sec['Liabilities'], inplace=True)

/Users/amybutler/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [57]:
f1_wide_sec['StockholdersEquity'].isna().value_counts()

False    149044
True       5792
Name: StockholdersEquity, dtype: int64

In [58]:
## fill in LiabilitiesAndStockholdersEquity

f1_wide_sec['LiabilitiesAndStockholdersEquity'].fillna(f1_wide_sec['StockholdersEquity'] + f1_wide_sec['Liabilities'], inplace=True)

In [59]:
f1_wide_sec['LiabilitiesAndStockholdersEquity'].isna().value_counts()

False    148916
True       5920
Name: LiabilitiesAndStockholdersEquity, dtype: int64

In [60]:
## fill in Liabilities

f1_wide_sec['Liabilities'].fillna(f1_wide_sec['LiabilitiesAndStockholdersEquity'] - f1_wide_sec['StockholdersEquity'], inplace=True)

In [61]:
f1_wide_sec['Liabilities'].isna().value_counts()

False    146068
True       8768
Name: Liabilities, dtype: int64

In [66]:
f1_wide_sec['Assets'].fillna(f1_wide_sec['TotalAsset'], inplace=True)

/Users/amybutler/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [67]:
f1_wide_sec['Assets'].isna().value_counts()

False    148262
True       6574
Name: Assets, dtype: int64

In [73]:
f1_wide_sec['AssetsCurrent'].fillna(f1_wide_sec['CurrentAsset'], inplace=True)

/Users/amybutler/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [79]:
f1_wide_sec.drop(['CurrentAsset', 'TotalAsset'], axis=1, inplace=True)

/Users/amybutler/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [80]:
# filter to where Assets >= 100MM

f2_wide_sec = f1_wide_sec[f1_wide_sec['Assets'] >= 1e8]
f2_wide_sec.shape

(94557, 43)

In [81]:
f2_wide_sec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94557 entries, 17 to 230326
Data columns (total 43 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   company_name                                                   94557 non-null  object
 1   period_end_date                                                94557 non-null  datetime64[ns]
 2   number_of_quarters                                             94557 non-null  int64
 3   submission_number                                              94557 non-null  object
 4   central_index_key                                              94557 non-null  object
 5   ein                                                            94557 non-null  object
 6   sic                                                            94557 non-null  object
 7   fiscal_year_end                                                94557 non-null  int64
 8   fiscal_year                                                    94557 non-null  int64
 9   form                                                           94557 non-null  object
 10  date_filed                                                     94557 non-null  datetime64[ns]
 11  Assets                                                         94557 non-null  float64
 12  AssetsCurrent                                                  67065 non-null  float64
 13  CashAndCashEquivalentsAtCarryingValue                          88855 non-null  float64
 14  CashAndCashEquivalentsPeriodIncreaseDecrease                   63073 non-null  float64
 15  CommonStockValue                                               73608 non-null  float64
 16  CostsAndExpenses                                               18864 non-null  float64
 17  DeferredIncomeTaxExpenseBenefit                                60507 non-null  float64
 18  DeferredIncomeTaxLiabilities                                   55897 non-null  float64
 19  DeferredIncomeTaxLiabilitiesNet                                8619 non-null   float64
 20  DeferredIncomeTaxesAndTaxCredits                               10086 non-null  float64
 21  Depreciation                                                   42926 non-null  float64
 22  EarningsPerShareBasic                                          56464 non-null  float64
 23  EarningsPerShareDiluted                                        55654 non-null  float64
 24  GrossProfit                                                    27977 non-null  float64
 25  Liabilities                                                    91828 non-null  float64
 26  LiabilitiesAndStockholdersEquity                               93818 non-null  float64
 27  LiabilitiesCurrent                                             67003 non-null  float64
 28  LongTermDebt                                                   43255 non-null  float64
 29  LongTermDebtCurrent                                            28912 non-null  float64
 30  LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths  36795 non-null  float64
 31  LongTermDebtNoncurrent                                         36943 non-null  float64
 32  NetCashProvidedByUsedInFinancingActivities                     49131 non-null  float64
 33  NetCashProvidedByUsedInInvestingActivities                     49186 non-null  float64
 34  NetCashProvidedByUsedInOperatingActivities                     49388 non-null  float64
 35  NetIncomeLoss                                                  66186 non-null  float64
 36  OperatingExpenses                                              26756 non-null  float64
 37  OperatingIncomeLoss                                            54469 non-null  float64
 38  ProfitLoss                                                     32206 non-null  float64
 39  RepaymentsOfLongTermDebt                                       27115 non-null  float64
 40  Revenues                                                       33197 non-null  float64
 41  SalesRevenueNet                                                22810 non-null  float64
 42  StockholdersEquity                                             91852 non-null  float64
dtypes: datetime64[ns](2), float64(32), int64(3), object(6)
memory usage: 31.7+ MB

In [ ]:
# df already sorted by company_name, period_end_date, and date_filed
# and has been filled forward within company_name, period_end_date group

# keep only one row for company_name, period_end_date

# no company should have more than 5 rows, but this may have occured if 
# data submission labeled 10-Q rather than 10-K

In [82]:
f3_wide_sec  = f2_wide_sec.groupby(['company_name', 'period_end_date']).tail(1)
f3_wide_sec.shape

(20891, 43)

In [83]:
f3_wide_sec['company_name'].value_counts()

CULP INC                                 22
MCGRATH RENTCORP                         20
BLACK STONE MINERALS, L.P.               20
PENNYMAC FINANCIAL SERVICES, INC.        20
PENNYMAC MORTGAGE INVESTMENT TRUST       20
                                         ..
MONTPELIER RE HOLDINGS LTD                1
AMERICAN RESIDENTIAL PROPERTIES, INC.     1
STEINER LEISURE LTD                       1
STANDARD PACIFIC CORP /DE/                1
PERNIX GROUP, INC.                        1
Name: company_name, Length: 5386, dtype: int64

In [98]:
f3_wide_sec[f3_wide_sec['company_name'] == 'PENNYMAC FINANCIAL SERVICES, INC.' ]

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,NetCashProvidedByUsedInInvestingActivities,NetCashProvidedByUsedInOperatingActivities,NetIncomeLoss,OperatingExpenses,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity
160479,"PENNYMAC FINANCIAL SERVICES, INC.",2014-03-31,0,0001558370-16-003986,1568669,800882793,6162,1231,2015,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.750780e+08
160492,"PENNYMAC FINANCIAL SERVICES, INC.",2014-06-30,0,0001558370-16-003986,1568669,800882793,6162,1231,2015,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.216930e+08
160517,"PENNYMAC FINANCIAL SERVICES, INC.",2014-09-30,0,0001558370-16-003986,1568669,800882793,6162,1231,2015,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.664490e+08
160510,"PENNYMAC FINANCIAL SERVICES, INC.",2014-12-31,4,0001558370-17-001522,1568669,800882793,6162,1231,2016,10-K,...,NaN,NaN,196311000.0,295244000.0,NaN,196311000.0,NaN,518277000.0,NaN,2.139640e+08
160519,"PENNYMAC FINANCIAL SERVICES, INC.",2015-03-31,0,0001558370-17-001522,1568669,800882793,6162,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.528360e+08
160494,"PENNYMAC FINANCIAL SERVICES, INC.",2015-06-30,0,0001558370-17-001522,1568669,800882793,6162,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.194730e+08
160521,"PENNYMAC FINANCIAL SERVICES, INC.",2015-09-30,0,0001558370-17-001522,1568669,800882793,6162,1231,2016,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.893070e+08
160484,"PENNYMAC FINANCIAL SERVICES, INC.",2015-12-31,4,0001558370-18-001782,1568669,800882793,6162,1231,2017,10-K,...,-563142000.0,53144000.0,47228000.0,433917000.0,NaN,247558000.0,NaN,713110000.0,NaN,2.708260e+08
160523,"PENNYMAC FINANCIAL SERVICES, INC.",2016-03-31,0,0001558370-18-001782,1568669,800882793,6162,1231,2017,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.093213e+09
160496,"PENNYMAC FINANCIAL SERVICES, INC.",2016-06-30,0,0001558370-18-001782,1568669,800882793,6162,1231,2017,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.170853e+09
160529,"PENNYMAC FINANCIAL SERVICES, INC.",2016-09-30,0,0001558370-18-001782,1568669,800882793,6162,1231,2017,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.290404e+09
160489,"PENNYMAC FINANCIAL SERVICES, INC.",2016-12-31,4,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,-34739000.0,-938325000.0,66079000.0,548804000.0,NaN,336980000.0,NaN,931887000.0,NaN,3.473230e+08
160525,"PENNYMAC FINANCIAL SERVICES, INC.",2017-03-31,0,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.457595e+09
160498,"PENNYMAC FINANCIAL SERVICES, INC.",2017-06-30,0,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.511252e+09
160527,"PENNYMAC FINANCIAL SERVICES, INC.",2017-09-30,0,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.590291e+09
160503,"PENNYMAC FINANCIAL SERVICES, INC.",2017-12-31,4,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,-339231000.0,-883412000.0,100757000.0,619554000.0,NaN,311522000.0,NaN,955463000.0,NaN,4.694110e+08
160530,"PENNYMAC FINANCIAL SERVICES, INC.",2018-03-31,0,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.794199e+09
160499,"PENNYMAC FINANCIAL SERVICES, INC.",2018-06-30,0,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.861944e+09
160531,"PENNYMAC FINANCIAL SERVICES, INC.",2018-09-30,0,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.916710e+09
160505,"PENNYMAC FINANCIAL SERVICES, INC.",2018-12-31,4,0001558370-19-001499,1745916,831098934,6162,1231,2018,10-K,...,-322611000.0,572396000.0,87694000.0,716932000.0,NaN,244443000.0,NaN,984629000.0,NaN,1.653791e+09

In [ ]:
## after examining a few companies, their quarterly files are with the annual form 10-K
## just filtering on number_of_quarters = 4 will remove good data
## even the largest companies with 1 row per year, have some number_of_quarters=0 for their annual report

In [99]:
f3_wide_sec.fiscal_year_end.unique()

array([ 630, 1231, 1130,  331,  131,  531, 1031,  831,  930,  430,  228,
        229,  731,  401])

In [ ]:
## the fiscal_year_end field could be used to apply logic 
## to keep rows where month and day of period_end_date
## equals the month and day of fiscal_year_end

In [115]:
f3_wide_sec['FY_end'] = f3_wide_sec['fiscal_year_end'].astype(str)
f3_wide_sec['FY_end_day'] = f3_wide_sec['FY_end'].str[-2:].astype(int)
f3_wide_sec['FY_end_month'] = f3_wide_sec['FY_end'].str[:-2].astype(int)
f3_wide_sec

<ipython-input-115-fb637466b25b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3_wide_sec['FY_end'] = f3_wide_sec['fiscal_year_end'].astype(str)
<ipython-input-115-fb637466b25b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3_wide_sec['FY_end_day'] = f3_wide_sec['FY_end'].str[-2:].astype(int)
<ipython-input-115-fb637466b25b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3_wide_sec['FY_end_month'] = f3_wide_sec['FY_end'].str[:-2].astype(int)

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,FY_end,FY_end_month,FY_end_day,keep_row
20,1 800 FLOWERS COM INC,2014-06-30,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,23706000.0,14675000.0,NaN,NaN,7.563450e+08,1.832280e+08,630,6,30,0
27,1 800 FLOWERS COM INC,2015-06-30,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,37617000.0,19384000.0,NaN,NaN,1.121506e+09,2.084490e+08,630,6,30,0
34,1 800 FLOWERS COM INC,2016-06-30,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,43282000.0,35868000.0,NaN,1.173024e+09,1.173024e+09,2.425860e+08,630,6,30,0
43,1 800 FLOWERS COM INC,2017-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,46359000.0,44041000.0,NaN,1.193625e+09,1.193625e+09,2.822390e+08,630,6,30,0
47,1 800 FLOWERS COM INC,2018-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,41048000.0,40791000.0,NaN,1.151921e+09,NaN,3.149040e+08,630,6,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230330,ZYNGA INC,2014-12-31,0,0001564590-18-002487,1439404,421733483,7374,1231,2017,10-K,...,-244741000.0,NaN,NaN,6.904100e+08,NaN,1.895692e+09,1231,12,31,0
230311,ZYNGA INC,2015-12-31,0,0001564590-19-005098,1439404,421733483,7374,1231,2018,10-K,...,-146056000.0,NaN,NaN,7.647170e+08,NaN,1.786901e+09,1231,12,31,0
230320,ZYNGA INC,2016-12-31,4,0001564590-19-005098,1439404,421733483,7374,1231,2018,10-K,...,-114249000.0,-108173000.0,NaN,7.414200e+08,NaN,1.580664e+09,1231,12,31,0
230324,ZYNGA INC,2017-12-31,4,0001564590-19-005098,1439404,421733483,7374,1231,2018,10-K,...,25724000.0,26639000.0,NaN,8.613900e+08,NaN,1.641240e+09,1231,12,31,0
230326,ZYNGA INC,2018-12-31,4,0001564590-19-005098,1439404,421733483,7374,1231,2018,10-K,...,6762000.0,15457000.0,NaN,NaN,NaN,1.596610e+09,1231,12,31,0

In [120]:
f3_wide_sec['keep_row'] = np.where((f3_wide_sec['period_end_date'].dt.month ==f3_wide_sec['FY_end_month'] )
                                   & (f3_wide_sec['period_end_date'].dt.day ==f3_wide_sec['FY_end_day'] ), 1, 0)

<ipython-input-120-39e6b45e17dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3_wide_sec['keep_row'] = np.where((f3_wide_sec['period_end_date'].dt.month ==f3_wide_sec['FY_end_month'] )

In [121]:
f3_wide_sec.head()

measure_tag,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,FY_end,FY_end_month,FY_end_day,keep_row
20,1 800 FLOWERS COM INC,2014-06-30,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,23706000.0,14675000.0,NaN,NaN,7.563450e+08,183228000.0,630,6,30,1
27,1 800 FLOWERS COM INC,2015-06-30,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,37617000.0,19384000.0,NaN,NaN,1.121506e+09,208449000.0,630,6,30,1
34,1 800 FLOWERS COM INC,2016-06-30,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,43282000.0,35868000.0,NaN,1.173024e+09,1.173024e+09,242586000.0,630,6,30,1
43,1 800 FLOWERS COM INC,2017-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,46359000.0,44041000.0,NaN,1.193625e+09,1.193625e+09,282239000.0,630,6,30,1
47,1 800 FLOWERS COM INC,2018-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,41048000.0,40791000.0,NaN,1.151921e+09,NaN,314904000.0,630,6,30,1

In [122]:
f3_wide_sec.shape

(20891, 47)

In [123]:
f4_wide_sec = f3_wide_sec[f3_wide_sec['keep_row']==1]
f4_wide_sec.shape

(20308, 47)

In [ ]:
# add the industry descriptions for each SIC code

In [124]:
query_ind = "SELECT * FROM sic_codes;"

sic_codes = pd_sql.read_sql(query_ind, connection)
sic_codes.columns

Index(['SIC Code', 'Industry', 'Unnamed: 2'], dtype='object')

In [125]:
query = """ 
SELECT a.*, b.Industry
FROM f4_wide_sec as a 
    LEFT JOIN sic_codes as b
ON a.sic = b.[SIC Code]
"""

ind_wide_sec = pysqldf(query)
ind_wide_sec.head()

## this join made period_end_date and date_filed into datetimes

,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,FY_end,FY_end_month,FY_end_day,keep_row,Industry
0,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,14675000.0,NaN,NaN,7.563450e+08,183228000.0,630,6,30,1,"Retail-Retail Stores, NEC"
1,1 800 FLOWERS COM INC,2015-06-30 00:00:00.000000,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,19384000.0,NaN,NaN,1.121506e+09,208449000.0,630,6,30,1,"Retail-Retail Stores, NEC"
2,1 800 FLOWERS COM INC,2016-06-30 00:00:00.000000,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,35868000.0,NaN,1.173024e+09,1.173024e+09,242586000.0,630,6,30,1,"Retail-Retail Stores, NEC"
3,1 800 FLOWERS COM INC,2017-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,44041000.0,NaN,1.193625e+09,1.193625e+09,282239000.0,630,6,30,1,"Retail-Retail Stores, NEC"
4,1 800 FLOWERS COM INC,2018-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,40791000.0,NaN,1.151921e+09,NaN,314904000.0,630,6,30,1,"Retail-Retail Stores, NEC"

In [126]:
ind_wide_sec.shape

(20308, 48)

In [85]:
# add overall industry division discription

In [127]:
ind_wide_sec['div_code'] = ind_wide_sec['sic'].str[:2]

In [128]:
query_div = "SELECT * FROM sic_divisions;"

sic_div = pd_sql.read_sql(query_div, connection)
sic_div.columns

Index(['div_code', 'Division'], dtype='object')

In [129]:
query = """ 
SELECT a.*, b.Division
FROM ind_wide_sec as a 
    LEFT JOIN sic_div as b
ON a.div_code = b.div_code
"""

div_wide_sec = pysqldf(query)
div_wide_sec.head()

,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,Revenues,SalesRevenueNet,StockholdersEquity,FY_end,FY_end_month,FY_end_day,keep_row,Industry,div_code,Division
0,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,NaN,7.563450e+08,183228000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade
1,1 800 FLOWERS COM INC,2015-06-30 00:00:00.000000,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,NaN,1.121506e+09,208449000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade
2,1 800 FLOWERS COM INC,2016-06-30 00:00:00.000000,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.173024e+09,1.173024e+09,242586000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade
3,1 800 FLOWERS COM INC,2017-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.193625e+09,1.193625e+09,282239000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade
4,1 800 FLOWERS COM INC,2018-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.151921e+09,NaN,314904000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade

In [130]:
div_wide_sec.shape

(20308, 50)

In [131]:
div_wide_sec['Division'].value_counts()

Manufacturing                                                         6274
Finance, Insurance and Real Estate                                    6142
Services                                                              2888
Transportation, Communications, Electric, Gas and Sanitary service    1897
Retail Trade                                                          1213
Mining                                                                1019
Wholesale Trade                                                        546
Construction                                                           259
Agriculture, Forestry and Fishing                                       70
Name: Division, dtype: int64

In [132]:
div_wide_sec['Division'].count()

20308

In [133]:
div_wide_sec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20308 entries, 0 to 20307
Data columns (total 50 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   company_name                                                   20308 non-null  object
 1   period_end_date                                                20308 non-null  object
 2   number_of_quarters                                             20308 non-null  int64
 3   submission_number                                              20308 non-null  object
 4   central_index_key                                              20308 non-null  object
 5   ein                                                            20308 non-null  object
 6   sic                                                            20308 non-null  object
 7   fiscal_year_end                                                20308 non-null  int64
 8   fiscal_year                                                    20308 non-null  int64
 9   form                                                           20308 non-null  object
 10  date_filed                                                     20308 non-null  object
 11  Assets                                                         20308 non-null  float64
 12  AssetsCurrent                                                  14286 non-null  float64
 13  CashAndCashEquivalentsAtCarryingValue                          19040 non-null  float64
 14  CashAndCashEquivalentsPeriodIncreaseDecrease                   16239 non-null  float64
 15  CommonStockValue                                               15727 non-null  float64
 16  CostsAndExpenses                                               5306 non-null   float64
 17  DeferredIncomeTaxExpenseBenefit                                16463 non-null  float64
 18  DeferredIncomeTaxLiabilities                                   12438 non-null  float64
 19  DeferredIncomeTaxLiabilitiesNet                                2520 non-null   float64
 20  DeferredIncomeTaxesAndTaxCredits                               2967 non-null   float64
 21  Depreciation                                                   11843 non-null  float64
 22  EarningsPerShareBasic                                          15256 non-null  float64
 23  EarningsPerShareDiluted                                        15036 non-null  float64
 24  GrossProfit                                                    7453 non-null   float64
 25  Liabilities                                                    19739 non-null  float64
 26  LiabilitiesAndStockholdersEquity                               20144 non-null  float64
 27  LiabilitiesCurrent                                             14274 non-null  float64
 28  LongTermDebt                                                   9345 non-null   float64
 29  LongTermDebtCurrent                                            6206 non-null   float64
 30  LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths  7749 non-null   float64
 31  LongTermDebtNoncurrent                                         7924 non-null   float64
 32  NetCashProvidedByUsedInFinancingActivities                     16128 non-null  float64
 33  NetCashProvidedByUsedInInvestingActivities                     16088 non-null  float64
 34  NetCashProvidedByUsedInOperatingActivities                     16167 non-null  float64
 35  NetIncomeLoss                                                  18376 non-null  float64
 36  OperatingExpenses                                              7498 non-null   float64
 37  OperatingIncomeLoss                                            14894 non-null  float64
 38  ProfitLoss                                                     10019 non-null  float64
 39  RepaymentsOfLongTermDebt                                       7502 non-null   float64
 40  Revenues                                                       9809 non-null   float64
 41  SalesRevenueNet                                                5264 non-null   float64
 42  StockholdersEquity                                             19734 non-null  float64
 43  FY_end                                                         20308 non-null  object
 44  FY_end_month                                                   20308 non-null  int64
 45  FY_end_day                                                     20308 non-null  int64
 46  keep_row                                                       20308 non-null  int64
 47  Industry                                                       20308 non-null  object
 48  div_code                                                       20308 non-null  object
 49  Division                                                       20308 non-null  object
dtypes: float64(32), int64(6), object(12)
memory usage: 7.7+ MB

In [60]:
# save the wide table with industry descriptions in postgres db

In [137]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://amybutler:localhost@localhost:5432/bankruptcy')

In [145]:
div_wide_sec.to_sql('sec_wide_df', engine, index=False)

In [146]:
#check table saved and can be queried
query = 'SELECT * FROM sec_wide_df LIMIT 5;'
df = pd.read_sql(query, engine)

df.head()

,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,Revenues,SalesRevenueNet,StockholdersEquity,FY_end,FY_end_month,FY_end_day,keep_row,Industry,div_code,Division
0,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,NaN,7.563450e+08,183228000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade
1,1 800 FLOWERS COM INC,2015-06-30 00:00:00.000000,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,NaN,1.121506e+09,208449000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade
2,1 800 FLOWERS COM INC,2016-06-30 00:00:00.000000,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.173024e+09,1.173024e+09,242586000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade
3,1 800 FLOWERS COM INC,2017-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.193625e+09,1.193625e+09,282239000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade
4,1 800 FLOWERS COM INC,2018-06-30 00:00:00.000000,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,1.151921e+09,NaN,314904000.0,630,6,30,1,"Retail-Retail Stores, NEC",59,Retail Trade