In [1]:
""" 
examine why brd list contents didn't all match up to
SEC > 100M  annual reports
"""

" examine why brd list contents didn't all match up t\nSEC > 100M  annual reports"

In [5]:
import psycopg2 as pg
import pandas.io.sql as pd_sql
import pandas as pd
import numpy as np
import datetime

In [6]:
# Postgres info to connect

connection_args = {
    'host': 'localhost',  
    'dbname': 'bankruptcy',  
    'port': 5432          
}

connection = pg.connect(**connection_args)
connection.autocommit = True

In [7]:
# few fields for first initial model
# all 2019 data held out for test set

query = """
SELECT *
FROM sec_wide_table
WHERE  period_end_date < '2019-01-01' 
;
"""

sec_data = pd_sql.read_sql(query, connection)
sec_data.head()

,company_name,period_end_date,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,date_filed,...,OperatingIncomeLoss,ProfitLoss,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,TotalAsset,Industry,div_code,Division
0,"'MKTG, INC.'",2014-03-31 00:00:00.000000,0001019056-14-000881,886475,061340408,7310,331,2013,10-K,2014-06-27 00:00:00.000000,...,2830011.0,2293272.0,NaN,NaN,NaN,12190322.0,NaN,Services-Advertising,73,Services
1,"024 PHARMA, INC.",2015-12-31 00:00:00.000000,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24 00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,137994.0,NaN,"Plastics Products, NEC",30,Manufacturing
2,"024 PHARMA, INC.",2016-12-31 00:00:00.000000,0001683168-17-000653,1307969,201862731,3089,1231,2016,10-K,2017-03-24 00:00:00.000000,...,NaN,NaN,NaN,1079541.0,NaN,759035.0,NaN,"Plastics Products, NEC",30,Manufacturing
3,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0001437749-14-016921,1084869,113117311,5990,630,2014,10-K,2014-09-12 00:00:00.000000,...,23706000.0,14675000.0,NaN,NaN,756345000.0,183199000.0,NaN,"Retail-Retail Stores, NEC",59,Retail Trade
4,1 800 FLOWERS COM INC,2014-06-30 00:00:00.000000,0001437749-15-017184,1084869,113117311,5990,630,2015,10-K,2015-09-11 00:00:00.000000,...,23706000.0,14675000.0,NaN,NaN,756345000.0,183228000.0,NaN,"Retail-Retail Stores, NEC",59,Retail Trade

In [16]:
company_unique = pd.DataFrame(sec_data['company_name'].unique(), columns={'Name'})

In [27]:
company_unique = set(sec_data['company_name'].unique())
company_unique

{'NEXT 1 INTERACTIVE, INC.',
 'TUNGSTEN CORP.',
 'FORTUNESWELL CORP',
 'TETRIDYN SOLUTIONS INC',
 'UPPERSOLUTION.COM',
 'USD PARTNERS LP',
 'NEWMARK GROUP, INC.',
 'REBEL GROUP, INC.',
 'RAND WORLDWIDE INC',
 'MONOPAR THERAPEUTICS',
 'TRANSATLANTIC CAPITAL INC.',
 'SWIFT START CORP.',
 'DIAMONDHEAD CASINO CORP',
 'FUTURES PORTFOLIO FUND L.P.',
 'STAR BUFFET INC',
 "BJ'S WHOLESALE CLUB HOLDINGS, INC.",
 'HEALTHIENT, INC.',
 'WEST END INDIANA BANCSHARES, INC.',
 'ERA GROUP INC.',
 'HEWLETT PACKARD ENTERPRISE CO',
 'HIGH DESERT HOLDING CORP.',
 'TRANSCAT INC',
 'GREY CLOAK TECH INC.',
 'SUMMIT NETWORKS INC.',
 'IMAGE SENSING SYSTEMS INC',
 'C&J ENERGY SERVICES LTD.',
 'MANNING & NAPIER, INC.',
 'KNOW LABS, INC.',
 'QUEST DIAGNOSTICS INC',
 'TOA HOLDINGS, INC.',
 'COMPX INTERNATIONAL INC',
 'ENERGY XXI LTD',
 'PROFIT PLANNERS MANAGEMENT, INC.',
 'DAIS CORP',
 'LOLLIPOP CORP',
 'MEDIACOM BROADBAND LLC',
 'INDIA ECOMMERCE CORP',
 'STREAMLINE HEALTH SOLUTIONS INC.',
 'FINGERMOTION, INC.',
 'DLH HOLDINGS CORP.',
 'NEW YORK TIMES CO',
 'ALTAIR ENGINEERING INC.',
 'ASSURANT INC',
 'ATLANTICUS HOLDINGS CORP',
 'NOVUME SOLUTIONS, INC.',
 'CHINA FORESTRY INC',
 'OPIANT PHARMACEUTICALS, INC.',
 'AVANTE SYSTEMS, INC.',
 'LUMIOX, INC.',
 'CLEARONE INC',
 'KONA GRILL INC',
 'VISTAPRINT N.V.',
 'BAR HARBOR BANKSHARES',
 'RING ENERGY, INC.',
 'JERRICK MEDIA HOLDINGS, INC.',
 'DORIAN LPG LTD.',
 'FOUR OAKS FINCORP INC',
 'KERYX BIOPHARMACEUTICALS INC',
 'QUIDEL CORP /DE/',
 'HAHA GENERATION CORP.',
 'PULMATRIX, INC.',
 'TRITON INTERNATIONAL LTD',
 'NIELSEN N.V.',
 'JONES LANG LASALLE INCOME PROPERTY TRUST, INC.',
 'SAVICORP',
 'TIME WARNER INC.',
 'CLEAN COAL TECHNOLOGIES INC.',
 'WAFERGEN BIO-SYSTEMS, INC.',
 'HEYU LEISURE HOLIDAYS CORP',
 'DTE ELECTRIC CO',
 'ZAIS GROUP HOLDINGS, INC.',
 'BROADCOM LTD',
 'DIGI INTERNATIONAL INC',
 'Z HOLDINGS GROUP, INC.',
 'RUTHIGEN, INC.',
 'GALAXY GAMING, INC.',
 'REVOLUTION LIGHTING TECHNOLOGIES, INC.',
 'CCO HOLDINGS LLC',
 'VERMILLION, INC.',
 'BELLEROPHON THERAPEUTICS, INC.',
 'AMES NATIONAL CORP',
 'ZOGENIX, INC.',
 'INTERCLOUD SYSTEMS, INC.',
 'POCKET GAMES INC.',
 'VITALIBIS, INC.',
 'ABEONA THERAPEUTICS INC.',
 'BIRNER DENTAL MANAGEMENT SERVICES INC',
 'AMERICAN CAPITAL MORTGAGE INVESTMENT CORP.',
 'PHOENIX LIFE SCIENCES INTERNATIONAL LIMITED.',
 'MAKISM 3D CORP.',
 'ADVAXIS, INC.',
 'EMPIRE POST MEDIA, INC.',
 'ONSTREAM MEDIA CORP',
 'QAD INC',
 'SPS COMMERCE INC',
 'ICAHN ENTERPRISES HOLDINGS L.P.',
 'AFFINITY MEDIAWORKS CORP',
 'CSG SYSTEMS INTERNATIONAL INC',
 'NEONODE INC.',
 'DNA TESTING CENTERS CORP',
 'ECO-SHIFT POWER CORP.',
 'OCEAN THERMAL ENERGY CORP',
 'GUARDION HEALTH SCIENCES, INC.',
 'OLD POINT FINANCIAL CORP',
 'SANGAMO BIOSCIENCES INC',
 'GLOCORP INC.',
 'OVERLAND STORAGE INC',
 'BANCORP 34, INC.',
 'IMAGING3 INC',
 'ATLAS AIR WORLDWIDE HOLDINGS INC',
 'HEALTHCARE SERVICES GROUP INC',
 'CALIFORNIA RESOURCES CORP',
 'E-QURE CORP.',
 'CTT PHARMACEUTICAL HOLDINGS, INC.',
 'SILVERTON ENERGY, INC.',
 'SUNEDISON SEMICONDUCTOR LTD',
 'INTELLINETICS, INC.',
 'CHINA LONGYI GROUP INTERNATIONAL HOLDINGS LTD',
 'KIBUSH CAPITAL CORP',
 'UNION BRIDGE HOLDINGS LTD.',
 'SANDRIDGE ENERGY INC',
 'VIRTRA, INC',
 'T-REX OIL, INC.',
 'ERICKSON INC.',
 'ULTRALIFE CORP',
 'KOSS CORP',
 'GENERAL GROWTH PROPERTIES, INC.',
 'TRAIN TRAVEL HOLDINGS, INC.',
 'RAZOR RESOURCES INC',
 'BLUE EARTH, INC.',
 'BROADWAY FINANCIAL CORP DE',
 'CANTABIO PHARMACEUTICALS INC.',
 'GLOBAL CLEAN ENERGY HOLDINGS, INC.',
 'LIBERATED SYNDICATION INC.',
 'CATO CORP',
 'EMC CORP',
 'ESSENSE WATER, INC.',
 'LONGWEN GROUP CORP.',
 'SOLIS TEK, INC./NV',
 'ORIENTAL MAGIC SOUP, INC.',
 'PLANTATION CORP.',
 'HCI VIOCARE',
 'CIMARRON SOFTWARE INC',
 'TESLA, INC.',
 'ROYAL ENERGY RESOURCES, INC.',
 'LUBYS INC',
 'ESSENTIAL INNOVATIONS TECHNOLOGY CORP',
 'TELLURIAN INC. /DE/',
 'AMPHENOL CORP /DE/',
 'ENVESTNET, INC.',
 'AEI NET LEASE INCOME & GROWTH FUND XX LIMITED PARTNERSHIP',
 'FULLER H B CO',
 'APTIV PLC',
 '1847 HOLDINGS LLC',
 'DIAMONDBACK ENERGY, INC.',
 'MED SPA VACATIONS INC.',
 'PACIFIC BIOSCIENCES OF CALIFORNIA, INC.',
 'VSE CORP',
 'KFORCE INC',
 'CORPORATE PROPERTY ASSOCIATES 17 - GLOBAL INC',
 'DEPOMED INC',
 'SUMMIT MATERIALS, INC.',
 'ADT CORP',
 'I-ON COMMUNICATIONS CORP.',
 'CONCHO RESOURCES INC',
 'TEGNA INC',
 'ETERNITY HEALTHCARE INC.',
 'DIAMOND RESORTS INTERNATIONAL, INC.',
 'WERNER ENTERPRISES INC',
 'MARINA DISTRICT FINANCE COMPANY, INC.',
 'PREMIER, INC.',
 'INNOVIVA, INC.',
 'VALIDIAN CORP',
 'LOOKSMART GROUP, INC.',
 'IPASS INC',
 'FIRST CITIZENS BANCSHARES INC /DE/',
 'HEXCEL CORP /DE/',
 'TRANSDIGM GROUP INC',
 'CAT9 GROUP INC.',
 'NEW YORK & COMPANY, INC.',
 'ALANCO TECHNOLOGIES INC',
 'AIR PRODUCTS & CHEMICALS INC /DE/',
 'HELMERICH & PAYNE INC',
 'SUPERCONDUCTOR TECHNOLOGIES INC',
 'BRAEMAR HOTELS & RESORTS INC.',
 'SEVION THERAPEUTICS, INC.',
 'ASTROTECH CORP',
 'BIM HOMES, INC.',
 'FINJAN HOLDINGS, INC.',
 'BOWL AMERICA INC',
 'FIRST CHOICE BANCORP',
 'KOLDECK INC.',
 'OFG BANCORP',
 'COLUMBIA BANKING SYSTEM INC',
 'HISTOGENICS CORP',
 'ELECTRO RENT CORP',
 'SHORETEL INC',
 'WESTERN UNION CO',
 'AJ GREENTECH HOLDINGS.',
 'INOTEK PHARMACEUTICALS CORP',
 'BOVIE MEDICAL CORP',
 'PEGASYSTEMS INC',
 'US XPRESS ENTERPRISES INC',
 'INNOVATION PHARMACEUTICALS INC.',
 'AMYRIS, INC.',
 'BIOSOLAR INC',
 'INTERSECT ENT, INC.',
 'ESPORTS ENTERTAINMENT GROUP, INC.',
 'PRESBIA PLC',
 'WAVE SYSTEMS CORP',
 'AMERICANN, INC.',
 'MSB FINANCIAL CORP.',
 'SYNERGY CHC CORP.',
 'BEAR LAKE RECREATION INC',
 'METU BRANDS, INC.',
 'CEETOP INC.',
 'SPANISH BROADCASTING SYSTEM INC',
 'NOCERA, INC.',
 'LAKE FOREST MINERALS INC.',
 'OVATION RESEARCH INC.',
 'ARBUTUS BIOPHARMA CORP',
 'DINE BRANDS GLOBAL, INC.',
 'BORROWMONEY.COM, INC.',
 'DETERMINE, INC.',
 'OCH-ZIFF CAPITAL MANAGEMENT GROUP LLC',
 'BIORESTORATIVE THERAPIES, INC.',
 'SOTHERLY HOTELS LP',
 'GOPHER PROTOCOL INC.',
 'VISA INC.',
 'WESTPORT FUTURES FUND L.P.',
 'NOVAGOLD RESOURCES INC',
 'ATLANTIC COAST FINANCIAL CORP',
 'JUFEEL INTERNATIONAL GROUP',
 'TAXUS PHARMACEUTICALS HOLDINGS, INC.',
 'TELADOC HEALTH, INC.',
 'U.S. LITHIUM CORP.',
 'VERTEX PHARMACEUTICALS INC / MA',
 'COGNEX CORP',
 'ALBANY INTERNATIONAL CORP /DE/',
 'LIGHTTOUCH VEIN & LASER INC',
 'ROSE ROCK MIDSTREAM, L.P.',
 'CAPITAL PROPERTIES INC /RI/',
 'TCF FINANCIAL CORP',
 'NABRIVA THERAPEUTICS PLC',
 'ALPHA & OMEGA SEMICONDUCTOR LTD',
 'STANDARD AVB FINANCIAL CORP.',
 'HOMELAND ENERGY SOLUTIONS LLC',
 'PENNSYLVANIA REAL ESTATE INVESTMENT TRUST',
 'GREATER CANNABIS COMPANY, INC.',
 'AVADEL PHARMACEUTICALS PLC',
 'COOPER-STANDARD HOLDINGS INC.',
 'SALEEN AUTOMOTIVE, INC.',
 'CRYO CELL INTERNATIONAL INC',
 'RIDGEWOOD ENERGY X FUND, LLC',
 'ENERGOUS CORP',
 'B-MAVEN, INC.',
 'NOVELIS INC.',
 'MMA CAPITAL MANAGEMENT, LLC',
 'EXA CORP',
 'XTRALINK ENERGY CORP',
 'VIRTU FINANCIAL, INC.',
 'POLARIS FUTURES FUND L.P.',
 'DINAMO CORP',
 'INTELLIGENT BUYING, INC.',
 'ACME UNITED CORP',
 'RECALL STUDIOS, INC.',
 'SPARTON CORP',
 'NEUROTROPE, INC.',
 'TRONC, INC.',
 'VICAL INC',
 'PETRICHOR CORP.',
 'BOTTOMLINE TECHNOLOGIES INC /DE/',
 'ESSEX PORTFOLIO LP',
 'FRESH PROMISE FOODS, INC.',
 'HANCOCK HOLDING CO',
 'JOINT CORP',
 'SAFEGUARD SCIENTIFICS INC',
 'TG THERAPEUTICS, INC.',
 'LIONBRIDGE TECHNOLOGIES INC /DE/',
 'VORTEX BLOCKCHAIN TECHNOLOGIES INC.',
 'CTC MEDIA, INC.',
 'INDEPENDENT BANK GROUP, INC.',
 'ADDVANTAGE TECHNOLOGIES GROUP INC',
 'COMMUNITY SAVINGS BANCORP, INC.',
 'SPECTRUM GLOBAL SOLUTIONS, INC.',
 'MELA SCIENCES, INC. /NY',
 '12 RETECH CORP',
 'LYNDEN ENERGY CORP.',
 'APPLIED VISUAL SCIENCES, INC.',
 'KEY TECHNOLOGY INC',
 'ADM ENDEAVORS, INC.',
 'ADEPTUS HEALTH INC.',
 'DEVON ENERGY CORP/DE',
 'VIKING INVESTMENTS GROUP, INC.',
 'ALBIREO PHARMA, INC.',
 '3M CO',
 'GRAFTECH INTERNATIONAL LTD',
 'KMG CHEMICALS INC',
 'WHITE MOUNTAINS INSURANCE GROUP LTD',
 "REED'S, INC.",
 'SIGMABROADBAND CO.',
 'URANIUM ENERGY CORP',
 'REGENXBIO INC.',
 'J2 GLOBAL, INC.',
 'GOLDLAND HOLDINGS CORP.',
 'HUDSON VALLEY HOLDING CORP',
 'CENTERPOINT ENERGY RESOURCES CORP',
 'IASO BIOMED, INC.',
 'FASTENAL CO',
 'LIVEPERSON INC',
 'AMERICAN REALTY CAPITAL PROPERTIES, INC.',
 'AMARILLO BIOSCIENCES INC',
 'AFRICA GROWTH CORP',
 'ARCH COAL INC',
 'NIC INC',
 'CERIDIAN HCM HOLDING INC.',
 'ARMCO METALS HOLDINGS, INC.',
 'PLASTIC2OIL, INC.',
 'ISHARES GOLD TRUST',
 'SHENTANG INTERNATIONAL, INC.',
 'SUNOCO LOGISTICS PARTNERS L.P.',
 'ENTRAVISION COMMUNICATIONS CORP',
 'CNH INDUSTRIAL CAPITAL LLC',
 'COUNTY BANCORP, INC.',
 'AMERICAN DG ENERGY INC',
 'AMERICAN MIDSTREAM PARTNERS, LP',
 'WORLD POINT TERMINALS, LP',
 'TESORO CORP /NEW/',
 'FIRST DEFIANCE FINANCIAL CORP',
 'COLGATE PALMOLIVE CO',
 'METASTAT, INC.',
 'MGT CAPITAL INVESTMENTS INC',
 'AEI INCOME & GROWTH FUND 25 LLC',
 'COHBAR, INC.',
 'NUVECTRA CORP',
 'CARRIAGE SERVICES INC',
 'AMERICAN VANGUARD CORP',
 'CVB FINANCIAL CORP',
 'CHENIERE CORPUS CHRISTI HOLDINGS, LLC',
 'INFINITY DISTRIBUTION INC.',
 'HALLMARK FINANCIAL SERVICES INC',
 'EASTERLY ACQUISITION CORP.',
 'INTERNET PATENTS CORP',
 'CATALYST PHARMACEUTICAL PARTNERS, INC.',
 'OBITX, INC.',
 'CENTURY ALUMINUM CO',
 'TRINITY PLACE HOLDINGS INC.',
 'BARRACUDA NETWORKS INC',
 'PARK OHIO INDUSTRIES INC/OH',
 'SPRINT CORP',
 'XG TECHNOLOGY, INC.',
 'AVRA MEDICAL ROBOTICS, INC.',
 'DLD GROUP, INC.',
 'MEDICINOVA INC',
 'NANTHEALTH, INC.',
 'CLEARWAY ENERGY LLC',
 'DELTA NATURAL GAS CO INC',
 'SILVERTON ADVENTURES, INC.',
 'HOMETOWN INTERNATIONAL, INC.',
 'HERTZ CORP',
 'SILVERGRAPH INTERNATIONAL INC',
 'BLACKLINE, INC.',
 'SANFILIPPO JOHN B & SON INC',
 'COCA-COLA ENTERPRISES, INC.',
 'LEADER CAPITAL HOLDINGS CORP.',
 'EXCALIBUR INDUSTRIES',
 'OLYMPIC STEEL INC',
 'TIME INC.',
 'TOWERS WATSON & CO.',
 'LGL GROUP INC',
 'STREAMTRACK, INC.',
 'EAGLE PHARMACEUTICALS, INC.',
 'CIRCLE STAR ENERGY CORP.',
 'ADOBE INC.',
 'CLIPPER REALTY INC.',
 'SENECA FINANCIAL CORP.',
 'TALON REAL ESTATE HOLDING CORP.',
 'XRPRO SCIENCES, INC.',
 'GREAT AJAX CORP.',
 'ALTRA INDUSTRIAL MOTION CORP.',
 'NEIMAN MARCUS GROUP LTD LLC',
 'KADANT INC',
 'BROWN SHOE CO INC',
 'MEDCAREERS GROUP, INC.',
 'PROVIDENT FINANCIAL SERVICES INC',
 'MEWBOURNE ENERGY PARTNERS 06-A, L.P.',
 'UNITED STATIONERS INC',
 'NAKED BRAND GROUP INC.',
 'INTERNATIONAL WESTERN PETROLEUM, INC.',
 'GORMAN RUPP CO',
 'PROSPER MARKETPLACE, INC',
 'PCSB FINANCIAL CORP',
 'NRC GROUP HOLDINGS CORP.',
 'BORQS TECHNOLOGIES, INC.',
 '024 PHARMA, INC.',
 'DEX MEDIA, INC.',
 'TEO FOODS INC',
 'HEAT BIOLOGICS, INC.',
 'MAPLE TREE KIDS, INC.',
 'SPOTLIGHT INNOVATION INC.',
 'GLOBAL ARENA HOLDING, INC.',
 'SHUTTERFLY INC',
 'DSW INC.',
 'POLARITYTE, INC.',
 'SAIA INC',
 'SINO-GLOBAL SHIPPING AMERICA, LTD.',
 'AMERICAN ASSETS TRUST, INC.',
 "MAMAMANCINI'S HOLDINGS, INC.",
 'GLOBAL POWER EQUIPMENT GROUP INC.',
 'NEPHROS INC',
 'LINDE PLC',
 'PRGX GLOBAL, INC.',
 'FUEL TECH, INC.',
 'ONESPAN INC.',
 'HORSEHEAD HOLDING CORP',
 'MEDIAN GROUP INC',
 'PENDRELL CORP',
 'NIGHTFOOD HOLDINGS, INC.',
 'AES CORP',
 'LINCOLN ELECTRIC HOLDINGS INC',
 'SYNIVERSE HOLDINGS INC',
 'HEICO CORP',
 'DATASEA INC.',
 'TIVO CORP',
 'HDS INTERNATIONAL CORP.',
 'MINERALS TECHNOLOGIES INC',
 'PARAMOUNT GOLD & SILVER CORP.',
 'DUN & BRADSTREET CORP/NW',
 'POWERSHARES DB OIL FUND',
 'VANTAGE HEALTH',
 'ARVANA INC',
 'HEDGEPATH PHARMACEUTICALS, INC.',
 'F&M BANK CORP',
 'EQUITRANS MIDSTREAM CORP',
 '800 COMMERCE, INC.',
 'ASTROTECH CORP WA',
 'MEDICINE MAN TECHNOLOGIES, INC.',
 'DITECH HOLDING CORP',
 'BRIGHT MOUNTAIN ACQUISITION CORP',
 'FIRST ACCEPTANCE CORP /DE/',
 'GERON CORP',
 'MATSON, INC.',
 'NEBULA ACQUISITION CORP',
 'ENDOCHOICE HOLDINGS, INC.',
 'DOVA PHARMACEUTICALS, INC.',
 'ELDORADO RESORTS, INC.',
 'LIQUIDIA TECHNOLOGIES INC',
 'CHIASMA, INC',
 'PEN INC.',
 'ASHLAND GLOBAL HOLDINGS INC',
 'JMB 245 PARK AVENUE ASSOCIATES LTD',
 'WEIS MARKETS INC',
 'ZENTRIC, INC.',
 'SUNRUN INC.',
 'VULCAN MATERIALS CO',
 'APEX RESOURCES INC/NV',
 'ENZYMEBIOSYSTEMS',
 'HASHINGSPACE CORP',
 'INTERNATIONAL SEAWAYS, INC.',
 'SUTRO BIOPHARMA, INC.',
 'MOLECULIN BIOTECH, INC.',
 'BENEFICIAL BANCORP INC.',
 'INTEGRATED ELECTRICAL SERVICES INC',
 'MARRONE BIO INNOVATIONS INC',
 'POPULAR INC',
 'KBR, INC.',
 'Q2EARTH INC.',
 'KAANAPALI LAND LLC',
 'TE CONNECTIVITY LTD.',
 'KASKAD CORP.',
 'GLASSESOFF INC.',
 'LIBERTY PROPERTY TRUST',
 'ILLUMINA INC',
 'CF FINANCE ACQUISITION CORP.',
 'ARRIS GROUP INC',
 'TEARLAB CORP',
 'MOTORCAR PARTS AMERICA INC',
 'ACCELERATE DIAGNOSTICS, INC',
 'BANKFINANCIAL CORP',
 'WOODLAND HOLDINGS CORP',
 'G III APPAREL GROUP LTD /DE/',
 'DAKTRONICS INC /SD/',
 'MEDITE CANCER DIAGNOSTICS, INC.',
 'RUBIUS THERAPEUTICS, INC.',
 'G1 THERAPEUTICS, INC.',
 'ORION FINANCIAL GROUP INC',
 'STAR CENTURY PANDAHO CORP',
 'QUORUM CORP',
 'ORAGENICS INC',
 'DFB HEALTHCARE ACQUISITIONS CORP.',
 'SIMLATUS CORP',
 'VRINGO INC',
 'INPOINT COMMERCIAL REAL ESTATE INCOME, INC.',
 'AFH ACQUISITION VI, INC.',
 'STRATEGIC EDUCATION, INC.',
 'GIFA, INC.',
 'CAPELLA EDUCATION CO',
 'SOLAR WIND ENERGY TOWER, INC.',
 'PILGRIMS PRIDE CORP',
 'INVESTMENT TECHNOLOGY GROUP, INC.',
 'P10 INDUSTRIES, INC.',
 'EMERALD OIL, INC.',
 'TANGOE INC',
 'ABIOMED INC',
 'PRECISION CASTPARTS CORP',
 'APT SYSTEMS INC',
 'MAD CATZ INTERACTIVE INC',
 'STAR VENDING SERVICES CORP.',
 'HEALTHTALK LIVE, INC.',
 'VISTEON CORP',
 'GRAMERCY PROPERTY TRUST',
 'FEDERAL REALTY INVESTMENT TRUST',
 'PRESIDIO, INC.',
 'AMERICAN CARESOURCE HOLDINGS, INC.',
 'AZURRX BIOPHARMA, INC.',
 'POWERSHARES DB BASE METALS FUND',
 'PUREBASE CORP',
 'INVESTORS BANCORP, INC.',
 'NEOS THERAPEUTICS, INC.',
 'CHINA HERB GROUP HOLDINGS CORP',
 'BLACKSTONE MORTGAGE TRUST, INC.',
 'CPS TECHNOLOGIES CORP/DE/',
 'KOKOS GROUP INC.',
 'SATYA WORLDWIDE, INC.',
 'YEXT, INC.',
 'PLAINS GP HOLDINGS LP',
 'INVESCO CURRENCYSHARES SWISS FRANC TRUST',
 'ETFS PLATINUM TRUST',
 'GREENE COUNTY BANCORP INC',
 'BERRY GLOBAL GROUP INC',
 'GARNERO GROUP ACQUISITION CO',
 'GMS INC.',
 'FIVE STAR SENIOR LIVING INC.',
 'NTN BUZZTIME INC',
 'TAPIMMUNE INC.',
 'CHICKEN SOUP FOR THE SOUL ENTERTAINMENT, INC.',
 'HENRY JACK & ASSOCIATES INC',
 'CITADEL EXPLORATION, INC.',
 'SPECTRA ENERGY PARTNERS, LP',
 'NU-MED PLUS, INC.',
 'SINTX TECHNOLOGIES, INC.',
 'SEARS HOLDINGS CORP',
 'BLUE CALYPSO, INC.',
 'GLORYWIN ENTERTAINMENT GROUP, INC.',
 'PURE STORAGE, INC.',
 'SPEEDEMISSIONS INC',
 'TRUPANION INC.',
 'EMR TECHNOLOGY SOLUTIONS, INC.',
 'LAKES ENTERTAINMENT INC',
 'AXIOM CORP.',
 'CONTINENTAL RESOURCES, INC',
 'TRAQER CORP',
 'STRATTEC SECURITY CORP',
 'UNIFIEDONLINE, INC.',
 'ALLIANT TECHSYSTEMS INC',
 'GLEN BURNIE BANCORP',
 'WIDEPOINT CORP',
 'ALLEGIANT TRAVEL CO',
 'BIOTECH PRODUCTS SERVICES & RESEARCH, INC.',
 'SCANDIUM INTERNATIONAL MINING CORP.',
 'PACKAGING CORP OF AMERICA',
 'V MEDIA CORP',
 'NZCH CORP',
 'LEXMARK INTERNATIONAL INC /KY/',
 'EQUITY ONE, INC.',
 'US GEOTHERMAL INC',
 'HEWLETT PACKARD CO',
 'SECTOR 5, INC.',
 'CACI INTERNATIONAL INC /DE/',
 'HINES GLOBAL INCOME TRUST, INC.',
 'CATALYST PHARMACEUTICALS, INC.',
 'VILLAGE SUPER MARKET INC',
 'KIMCO REALTY CORP',
 'NEXTGEN HEALTHCARE, INC.',
 'WHOLE FOODS MARKET INC',
 'ASIA TRAVEL CORP',
 'CANNAPHARMARX, INC.',
 'APPLIED INDUSTRIAL TECHNOLOGIES INC',
 'CORNERSTONE BANCSHARES INC',
 'TAKUNG ART CO., LTD.',
 'BAKKEN RESOURCES INC',
 'WAYFAIR INC.',
 'AMBICOM HOLDINGS, INC',
 'GREAT PLAINS HOLDINGS, INC.',
 'ARABELLA EXPLORATION, INC.',
 'VITALITY BIOPHARMA, INC.',
 'HORIZON MINERALS CORP.',
 'HARTMAN VREIT XXI, INC.',
 'ITT INC.',
 'ALKALINE WATER CO INC',
 'GAMING ENTERTAINMENT INTERNATIONAL, INC.',
 'CLEVELAND BIOLABS INC',
 'FLATWORLD ACQUISITION CORP.',
 'PICO HOLDINGS INC /NEW',
 'FRESH DEL MONTE PRODUCE INC',
 'MSCI INC.',
 'ALTERYX, INC.',
 'KINGSWAY FINANCIAL SERVICES INC',
 'MANHATTAN BRIDGE CAPITAL, INC',
 'STONEGATE MORTGAGE CORP',
 'ADVANCED EMISSIONS SOLUTIONS, INC.',
 'EMERGE ENERGY SERVICES LP',
 'LA JOLLA PHARMACEUTICAL CO',
 'CB PHARMA ACQUISITION CORP.',
 'GB SCIENCES INC',
 'TPG PACE ENERGY HOLDINGS CORP.',
 'THUNDER MOUNTAIN GOLD INC',
 'PIEDMONT NATURAL GAS CO INC',
 'TICKET CORP.',
 'GRILLED CHEESE TRUCK, INC.',
 'FORESIGHT ENERGY LP',
 'CALYXT, INC.',
 'GBS ENTERPRISES INC',
 'PARTY CITY HOLDCO INC.',
 'AMERICAN RENAL ASSOCIATES HOLDINGS, INC.',
 'NUKKLEUS INC.',
 '2U, INC.',
 'DYNAMIC MATERIALS CORP',
 'SIERRA MADRE MINING',
 'FORTY SEVEN, INC.',
 'PERSEON CORP',
 'INTERFACE INC',
 'RIGHT ON BRANDS, INC.',
 'TRANS WORLD CORP',
 'FATE THERAPEUTICS INC',
 'ZAYO GROUP HOLDINGS, INC.',
 'ACCELERATED ACQUISITIONS XIX',
 'SYNUTRA INTERNATIONAL, INC.',
 'BUNGE LTD',
 'SHARKREACH, INC.',
 'AMERIPRISE FINANCIAL INC',
 'TRANSAMERICA ADVISORS LIFE INSURANCE CO',
 'URBAN-GRO, INC.',
 'ZULILY, INC.',
 'QVC INC',
 'RGC RESOURCES INC',
 'PREAXIA HEALTH CARE PAYMENT SYSTEMS INC.',
 'SMITH MIDLAND CORP',
 'SUPERIOR UNIFORM GROUP INC',
 'AMERICAN REALTY INVESTORS INC',
 'ALTISOURCE PORTFOLIO SOLUTIONS S.A.',
 'PLAYERS NETWORK',
 'CATABASIS PHARMACEUTICALS INC',
 'WIDEOPENWEST, INC.',
 'RANGER ENERGY SERVICES, INC.',
 'PROGREEN US, INC.',
 'RLJ LODGING TRUST',
 'JMP GROUP INC.',
 'DALA PETROLEUM CORP.',
 'HURCO COMPANIES INC',
 'CENTRAL EUROPEAN MEDIA ENTERPRISES LTD',
 'ALLIED NEVADA GOLD CORP.',
 'PATRIOT BERRY FARMS, INC.',
 'SCRIPPS E W CO /DE',
 'GENERAL FINANCE CORP',
 'DOCASA INC.',
 'CORGENIX MEDICAL CORP/CO',
 'DYNARESOURCE INC',
 'COLONY STARWOOD HOMES',
 'ENOVA SYSTEMS INC',
 'POCKET SHOT CO',
 'ARADIGM CORP',
 'DIME COMMUNITY BANCSHARES INC',
 'SOUTHWEST GEORGIA FINANCIAL CORP',
 'XG SCIENCES INC',
 'RJO GLOBAL TRUST',
 'LIVE CURRENT MEDIA INC.',
 'WASHINGTON GAS LIGHT CO',
 'LEXINGTON REALTY TRUST',
 'NRG YIELD, INC.',
 'A&C UNITED AGRICULTURE DEVELOPING INC.',
 'MEDIFIRST SOLUTIONS, INC.',
 'RIGNET, INC.',
 'HEALTH INSURANCE INNOVATIONS, INC.',
 'VOLT INFORMATION SCIENCES, INC.',
 'ALLIANCEBERNSTEIN HOLDING L.P.',
 'SAMSON OIL & GAS LTD',
 'AMERICAN SCIENCE & ENGINEERING, INC.',
 'HP INC',
 'NAVISTAR INTERNATIONAL CORP',
 'AFH ACQUISITION XII, INC.',
 'EMO CAPITAL CORP.',
 'ADTALEM GLOBAL EDUCATION INC.',
 'EXPEDITORS INTERNATIONAL OF WASHINGTON INC',
 'GULF RESOURCES, INC.',
 'SYMBID CORP.',
 'GRAY TELEVISION INC',
 'GREAT ELM CAPITAL GROUP, INC.',
 'EQM MIDSTREAM PARTNERS, LP',
 'AMERICAN BOARDING CO',
 'IPC HEALTHCARE, INC.',
 'LANDSTAR, INC.',
 'FEDERAL HOME LOAN BANK OF CINCINNATI',
 'SOUTHEASTERN BANK FINANCIAL CORP',
 'NOVA STAR INNOVATIONS INC',
 'IMAGING DIAGNOSTIC SYSTEMS INC /FL/',
 'NEUROONE MEDICAL TECHNOLOGIES CORP',
 'OCLARO, INC.',
 'DENTSPLY SIRONA INC.',
 'GREEN BRICK PARTNERS, INC.',
 'OCEANEERING INTERNATIONAL INC',
 'SENTINEL ENERGY SERVICES INC.',
 'TAMM OIL & GAS CORP.',
 'ALLIANCE ONE INTERNATIONAL, INC.',
 'CPI CARD GROUP INC.',
 'FICAAR, INC',
 'VENATOR MATERIALS PLC',
 'LONG BLOCKCHAIN CORP.',
 'SANCHEZ PRODUCTION PARTNERS LP',
 'RED HAT INC',
 'GROUPON, INC.',
 'SKOOKUM SAFETY SOLUTIONS CORP.',
 'IMMUNE THERAPEUTICS, INC.',
 'CES SYNERGIES, INC.',
 'PRESS GANEY HOLDINGS, INC.',
 'CENTERPOINT ENERGY INC',
 'SUNSTONE HOTEL INVESTORS, INC.',
 'TEAM HEALTH HOLDINGS INC.',
 'ADMIRAL FINANCIAL CORP',
 'INNER SYSTEMS INC',
 'BTHC X INC',
 'PURE BIOSCIENCE, INC.',
 'BRUNSWICK CORP',
 'EPIZYME, INC.',
 'LIVERAMP HOLDINGS, INC.',
 'LILIS ENERGY, INC.',
 'WNC HOUSING TAX CREDIT FUND V LP SERIES 4',
 'MUELLER INDUSTRIES INC',
 'AZURE MIDSTREAM PARTNERS, LP',
 'KKR REAL ESTATE FINANCE TRUST INC.',
 'MEWBOURNE ENERGY PARTNERS 05-A LP',
 'SMART SAND, INC.',
 'U.S. NEUROSURGICAL HOLDINGS, INC.',
 'DAEGIS INC.',
 'SIENNA BIOPHARMACEUTICALS, INC.',
 'TORCHMARK CORP',
 'INTELLISENSE SOLUTIONS INC.',
 'RIDGEWOOD ENERGY W FUND LLC',
 'KATY INDUSTRIES INC',
 'INDO GLOBAL EXCHANGE(S) PTE, LTD.',
 'SAFETY QUICK LIGHTING & FANS CORP.',
 'PROVIDENCE & WORCESTER RAILROAD CO/RI/',
 'RENEWABLE ENERGY ACQUISITION CORP.',
 'EPICURE CHARCOAL, INC.',
 'CHINA CHANGJIANG MINING & NEW ENERGY COMPANY, LTD.',
 'FVCBANKCORP, INC.',
 'FIRSTCASH, INC',
 'PENFORD CORP',
 'SPRINGLEAF FINANCE CORP',
 'SUGAR CREEK FINANCIAL CORP./MD/',
 'STELLAR ACQUISITION III INC.',
 'MJP INTERNATIONAL LTD.',
 'OUTLOOK THERAPEUTICS, INC.',

In [70]:
#brd_list
brd_labels = pd.read_excel('debtor_list_ein_lookup.xlsx', sheet_name='LIST')
brd_labels.head()

,debtor_name,date_filed,chapter_filing,ein,name_in_sec_data,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"Caesars Entertainment Operating Company, Inc.",2015-01-12,Chapter 11,621411755.0,CAESARS ENTERTAINMENT CORP,NaN,NaN,NaN,NaN
1,RadioShack Corporation,2015-02-05,Chapter 11,751047710.0,RADIOSHACK CORP,NaN,NaN,NaN,NaN
2,"Cal Dive International, Inc.",2015-03-03,Chapter 11,611500501.0,"Cal Dive International, Inc.",NaN,NaN,NaN,NaN
3,"BPZ Resources, Inc.",2015-03-09,Chapter 11,330502730.0,"BPZ Resources, Inc.",NaN,NaN,NaN,NaN
4,Allied Nevada Gold Corp.,2015-03-10,Chapter 11,0.0,Allied Nevada Gold Corp.,NaN,NaN,NaN,NaN

In [71]:
#capitalize 
brd_labels['company_name_brd'] = brd_labels['name_in_sec_data'].str.upper()
brd_labels.head()

,debtor_name,date_filed,chapter_filing,ein,name_in_sec_data,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,company_name_brd
0,"Caesars Entertainment Operating Company, Inc.",2015-01-12,Chapter 11,621411755.0,CAESARS ENTERTAINMENT CORP,NaN,NaN,NaN,NaN,CAESARS ENTERTAINMENT CORP
1,RadioShack Corporation,2015-02-05,Chapter 11,751047710.0,RADIOSHACK CORP,NaN,NaN,NaN,NaN,RADIOSHACK CORP
2,"Cal Dive International, Inc.",2015-03-03,Chapter 11,611500501.0,"Cal Dive International, Inc.",NaN,NaN,NaN,NaN,"CAL DIVE INTERNATIONAL, INC."
3,"BPZ Resources, Inc.",2015-03-09,Chapter 11,330502730.0,"BPZ Resources, Inc.",NaN,NaN,NaN,NaN,"BPZ RESOURCES, INC."
4,Allied Nevada Gold Corp.,2015-03-10,Chapter 11,0.0,Allied Nevada Gold Corp.,NaN,NaN,NaN,NaN,ALLIED NEVADA GOLD CORP.

In [72]:
brd_names = set(brd_labels['company_name_brd'])
brd_names

{'21ST CENTURY ONCOLOGY HOLDINGS, INC.',
 'ACETO CORP',
 'ADEPTUS HEALTH INC.',
 'AEROPOSTALE INC',
 'ALLIED NEVADA GOLD CORP.',
 'ALPHA NATURAL RESOURCES, INC.',
 'ALTA MESA HOLDINGS, LP',
 'ALTA MESA RESOURCES, INC. /DE',
 'AMERICAN APPAREL, INC',
 'APPROACH RESOURCES INC',
 'ARALEZ PHARMACEUTICALS INC.',
 'ARCH COAL INC',
 'ARMSTRONG ENERGY, INC.',
 'ASPECT SOFTWARE PARENT, INC.',
 'ATLAS RESOURCE PARTNERS, L.P.',
 'AVAYA INC',
 'AZURE MIDSTREAM PARTNERS, LP',
 'BASIC ENERGY SERVICES INC',
 'BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC',
 'BON TON STORES INC',
 'BONANZA CREEK ENERGY, INC.',
 'BPZ RESOURCES, INC.',
 'BREITBURN ENERGY PARTNERS LP',
 'BRISTOW GROUP INC',
 'C&J ENERGY SERVICES LTD.',
 'CAESARS ENTERTAINMENT CORP',
 'CAL DIVE INTERNATIONAL, INC.',
 'CASTLE A M & CO',
 'CENVEO, INC',
 'CHAPARRAL ENERGY, INC.',
 'CHC GROUP LTD.',
 'CIBER INC',
 'CLAIRES STORES INC',
 'CLOUD PEAK ENERGY INC.',
 'COBALT INTERNATIONAL ENERGY, INC.',
 'CUMULUS MEDIA INC',
 'DEAN FOODS CO',
 'DENVER PARENT CORP',
 'DEX MEDIA, INC.',
 'DITECH HOLDING CORP',
 'EMERALD OIL, INC.',
 'EMERGENT CAPITAL, INC.',
 'ENERGY XXI GULF COAST, INC.',
 'EP ENERGY CORP',
 'EP ENERGY LLC',
 'ERICKSON INC.',
 'EV ENERGY PARTNERS, LP',
 'EXCO RESOURCES INC',
 'FAIRWAY GROUP HOLDINGS CORP',
 'FIRST NBC BANK HOLDING CO',
 'FIRSTENERGY SOLUTIONS CORP.',
 'FORBES ENERGY SERVICES LTD.',
 'FTD COMPANIES, INC.',
 'GASTAR EXPLORATION INC.',
 'GENON ENERGY, INC.',
 'GLOBAL BROKERAGE, INC.',
 'GULFMARK OFFSHORE INC',
 'GYMBOREE CORP',
 'HALCON RESOURCES CORP',
 'HERCULES OFFSHORE, INC.',
 'HEXION INC.',
 'HHGREGG, INC.',
 'HORSEHEAD HOLDING CORP',
 'IHEARTMEDIA, INC.',
 'ILLINOIS POWER GENERATING CO',
 'INTERNATIONAL SHIPHOLDING CORP',
 'ITT EDUCATIONAL SERVICES INC',
 'J.G. WENTWORTH CO',
 'JONES ENERGY, INC.',
 'KEY ENERGY SERVICES INC',
 'LEGACY RESERVES INC.',
 'LINN ENERGY, LLC',
 'LRI HOLDINGS, INC.',
 'MAGNUM HUNTER RESOURCES CORP',
 'MATTRESS FIRM HOLDING CORP.',
 'MELINTA THERAPEUTICS, INC. /NEW/',
 'MEMORIAL PRODUCTION PARTNERS LP',
 'MIDSTATES PETROLEUM COMPANY, INC.',
 'MILLER ENERGY RESOURCES, INC.',
 'MOLYCORP, INC.',
 'MONITRONICS INTERNATIONAL INC',
 'NEW SOURCE ENERGY PARTNERS L.P.',
 'NOBILIS HEALTH CORP.',
 'NORANDA ALUMINUM HOLDING CORP',
 'NUVERRA ENVIRONMENTAL SOLUTIONS, INC.',
 'ORCHIDS PAPER PRODUCTS CO /DE',
 'OREXIGEN THERAPEUTICS, INC.',
 'PAPERWEIGHT DEVELOPMENT CORP',
 'PARAGON OFFSHORE PLC',
 'PARKER DRILLING CO /DE/',
 'PATRIOT NATIONAL, INC.',
 'PEABODY ENERGY CORP',
 'PENN VIRGINIA CORP',
 'PERFUMANIA HOLDINGS, INC.',
 'PG&E CORP',
 'PHI INC',
 'QUICKSILVER RESOURCES INC',
 'QUIKSILVER INC',
 'RAAM GLOBAL ENERGY CO',
 'RADIOSHACK CORP',
 'RAIT FINANCIAL TRUST',
 'RCS CAPITAL CORP',
 'REAL INDUSTRY, INC.',
 'RENTECH, INC.',
 'REPUBLIC AIRWAYS HOLDINGS INC',
 'REX ENERGY CORP',
 'SABINE OIL & GAS CORP',
 'SAMSON RESOURCES CORP',
 'SANCHEZ ENERGY CORP',
 'SANDRIDGE ENERGY INC',
 'SEARS HOLDINGS CORP',
 'SEVENTY SEVEN ENERGY INC.',
 'SFX ENTERTAINMENT, INC',
 'SOUTHCROSS ENERGY PARTNERS, L.P.',
 'SQUARETWO FINANCIAL CORP',
 'STANDARD REGISTER CO',
 'STONE ENERGY CORP',
 'SUNEDISON, INC.',
 'SWIFT ENERGY CO',
 'TIDEWATER INC',
 'TOPS HOLDING II CORP',
 'TOYS R US INC',
 'TRIANGLE PETROLEUM CORP',
 'ULTRA PETROLEUM CORP',
 'VANGUARD NATURAL RESOURCES, LLC',
 'VENOCO, INC.',
 'VERSO CORP',
 'WALTER ENERGY, INC.',
 'WALTER INVESTMENT MANAGEMENT CORP',
 'WEATHERFORD INTERNATIONAL PLC',
 'WESTMORELAND COAL CO',
 'WINDSTREAM HOLDINGS, INC.'}

In [73]:
# compare the two sets 

brd_names.difference(company_unique)

{'BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC',
 'CAL DIVE INTERNATIONAL, INC.',
 'STANDARD REGISTER CO',
 'VENOCO, INC.'}

In [78]:
query = """
SELECT distinct company_name, period_end_date
FROM sec_all_raw
WHERE  period_end_date < '2019-01-01' 
    and company_name LIKE '%BLACK ELK ENERGY%'
;
"""

one_company = pd_sql.read_sql(query, connection)
one_company

#black_elk filed for bankruptcy on 8/11/2015  
# has 10-Q 2014-09-30

                                company_name period_end_date
0  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2010-12-31
1  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2011-12-31
2  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2012-03-31
3  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2012-06-30
4  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2012-09-30
5  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2012-12-31
6  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2013-03-31
7  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2013-06-30
8  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2013-09-30
9  BLACK ELK ENERGY OFFSHORE OPERATIONS, LLC      2013-12-31

In [44]:
query = """
SELECT distinct company_name, form, number_of_quarters, period_end_date
FROM sec_raw_all
WHERE  period_end_date < '2019-01-01' 
    and company_name LIKE '%CAL DIVE INTERNATIONAL, INC.%'
;
"""

one_company = pd_sql.read_sql(query, connection)
one_company

# filed 3/3/2015 
# 2014 annual report would have been due in April 2015
# company filed for bankruptcy before the annual report due
# but did they file quarterly reports? 
# yes, turned in a 2014-09-30 10-Q

                    company_name  form  number_of_quarters period_end_date
0   CAL DIVE INTERNATIONAL, INC.  10-K                   0      2010-12-31
1   CAL DIVE INTERNATIONAL, INC.  10-K                   0      2011-12-31
2   CAL DIVE INTERNATIONAL, INC.  10-K                   0      2012-12-31
3   CAL DIVE INTERNATIONAL, INC.  10-K                   0      2013-12-31
4   CAL DIVE INTERNATIONAL, INC.  10-K                   1      2012-03-31
5   CAL DIVE INTERNATIONAL, INC.  10-K                   1      2012-06-30
6   CAL DIVE INTERNATIONAL, INC.  10-K                   1      2012-09-30
7   CAL DIVE INTERNATIONAL, INC.  10-K                   1      2012-12-31
8   CAL DIVE INTERNATIONAL, INC.  10-K                   1      2013-03-31
9   CAL DIVE INTERNATIONAL, INC.  10-K                   1      2013-06-30
10  CAL DIVE INTERNATIONAL, INC.  10-K                   1      2013-09-30
11  CAL DIVE INTERNATIONAL, INC.  10-K                   1      2013-12-31
12  CAL DIVE INTERNATIONAL, INC.  10-K                   4      2011-12-31
13  CAL DIVE INTERNATIONAL, INC.  10-K                   4      2012-12-31
14  CAL DIVE INTERNATIONAL, INC.  10-K                   4      2013-12-31

In [56]:

query = """
SELECT distinct company_name, form, number_of_quarters, period_end_date
FROM sec_raw_all
WHERE  period_end_date < '2019-01-01' 
    and company_name LIKE '%STANDARD REGISTER%'
;
"""

one_company = pd_sql.read_sql(query, connection)
one_company


## have quarterly report fall 2014, bankruptcy 03/12/2015

           company_name  form  number_of_quarters period_end_date
0  STANDARD REGISTER CO  10-K                   0      2010-12-31
1  STANDARD REGISTER CO  10-K                   0      2011-12-31
2  STANDARD REGISTER CO  10-K                   0      2012-12-31
3  STANDARD REGISTER CO  10-K                   0      2013-12-31
4  STANDARD REGISTER CO  10-K                   4      2011-12-31
5  STANDARD REGISTER CO  10-K                   4      2012-12-31
6  STANDARD REGISTER CO  10-K                   4      2013-12-31

In [57]:



query = """
SELECT distinct company_name, form, number_of_quarters, period_end_date
FROM sec_raw_all
WHERE  period_end_date < '2019-01-01' 
    and company_name LIKE '%SUNEDISON, INC%'
;
"""

one_company = pd_sql.read_sql(query, connection)
one_company

# bankruptcy 4/21/2016
# have 10-Q 	2015-09-30

      company_name  form  number_of_quarters period_end_date
0  SUNEDISON, INC.  10-K                   0      2010-12-31
1  SUNEDISON, INC.  10-K                   0      2011-12-31
2  SUNEDISON, INC.  10-K                   0      2012-12-31
3  SUNEDISON, INC.  10-K                   0      2013-12-31
4  SUNEDISON, INC.  10-K                   0      2014-12-31
5  SUNEDISON, INC.  10-K                   4      2011-12-31
6  SUNEDISON, INC.  10-K                   4      2012-12-31
7  SUNEDISON, INC.  10-K                   4      2013-12-31
8  SUNEDISON, INC.  10-K                   4      2014-12-31

In [76]:

query = """
SELECT distinct company_name, form, number_of_quarters, period_end_date
FROM sec_raw_all
WHERE  period_end_date < '2019-01-01' 
    and company_name LIKE '%VENOCO%'
;
"""

one_company = pd_sql.read_sql(query, connection)
one_company
#bankruptcy 3/18/2016  - some filings are VENOCO other filings are DENVER PARENT CORP
#BRD list has Venoco, Inc. (Denver Parent Corp.)

    company_name  form  number_of_quarters period_end_date
0   VENOCO, INC.  10-K                   0      2010-12-31
1   VENOCO, INC.  10-K                   0      2011-12-31
2   VENOCO, INC.  10-K                   0      2012-12-31
3   VENOCO, INC.  10-K                   0      2013-12-31
4   VENOCO, INC.  10-K                   1      2012-03-31
5   VENOCO, INC.  10-K                   1      2012-06-30
6   VENOCO, INC.  10-K                   1      2012-09-30
7   VENOCO, INC.  10-K                   1      2012-12-31
8   VENOCO, INC.  10-K                   1      2013-03-31
9   VENOCO, INC.  10-K                   1      2013-06-30
10  VENOCO, INC.  10-K                   1      2013-09-30
11  VENOCO, INC.  10-K                   1      2013-12-31
12  VENOCO, INC.  10-K                   4      2011-12-31
13  VENOCO, INC.  10-K                   4      2012-12-31
14  VENOCO, INC.  10-K                   4      2013-12-31

In [75]:

query = """
SELECT distinct company_name, form, number_of_quarters, period_end_date
FROM sec_raw_all
WHERE  period_end_date < '2019-01-01' 
    and company_name LIKE '%DENVER PARENT%'
;
"""

one_company = pd_sql.read_sql(query, connection)
one_company
 #bankruptcy 3/18/2016  - some filings are VENOCO

          company_name  form  number_of_quarters period_end_date
0   DENVER PARENT CORP  10-K                   0      2011-12-31
1   DENVER PARENT CORP  10-K                   0      2012-12-31
2   DENVER PARENT CORP  10-K                   0      2013-12-31
3   DENVER PARENT CORP  10-K                   0      2014-12-31
4   DENVER PARENT CORP  10-K                   0      2015-12-31
5   DENVER PARENT CORP  10-K                   1      2013-03-31
6   DENVER PARENT CORP  10-K                   1      2013-06-30
7   DENVER PARENT CORP  10-K                   1      2013-09-30
8   DENVER PARENT CORP  10-K                   1      2013-12-31
9   DENVER PARENT CORP  10-K                   1      2014-03-31
10  DENVER PARENT CORP  10-K                   1      2014-06-30
11  DENVER PARENT CORP  10-K                   1      2014-09-30
12  DENVER PARENT CORP  10-K                   1      2014-12-31
13  DENVER PARENT CORP  10-K                   1      2015-03-31
14  DENVER PARENT CORP  10-K                   1      2015-06-30
15  DENVER PARENT CORP  10-K                   1      2015-09-30
16  DENVER PARENT CORP  10-K                   1      2015-12-31
17  DENVER PARENT CORP  10-K                   4      2012-12-31
18  DENVER PARENT CORP  10-K                   4      2013-12-31
19  DENVER PARENT CORP  10-K                   4      2014-12-31
20  DENVER PARENT CORP  10-K                   4      2015-12-31