In [ ]:
"""
EDA of training/validation set 

"""

In [4]:
import pandas as pd
import numpy as np
import datetime
import pickle

In [15]:
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_formats = ['svg']
%matplotlib inline

plt.rcParams['figure.figsize'] = (3, 3)
sns.set(context='notebook', style='whitegrid', font_scale=1.2)

In [6]:
# the df with features and target

with open('model_data.pickle', 'rb') as read_file:
    model_data = pickle.load(read_file)
    
model_data.head()

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
0,1 800 FLOWERS COM INC,2014-06-30,NaT,NaN,267569000.0,91818000.0,81451000.0,74307000.0,NaN,267569000.0,183228000.0,23706000.0,NaN,0.24,0.23,Retail Trade,0
1,1 800 FLOWERS COM INC,2015-06-30,NaT,NaN,497073000.0,155095000.0,286817000.0,123607000.0,NaN,497073000.0,208449000.0,37617000.0,NaN,0.31,0.30,Retail Trade,0
2,1 800 FLOWERS COM INC,2016-06-30,NaT,NaN,506514000.0,166659000.0,263928000.0,120861000.0,NaN,506514000.0,242586000.0,43282000.0,NaN,0.57,0.55,Retail Trade,0
3,1 800 FLOWERS COM INC,2017-06-30,NaT,NaN,552470000.0,257402000.0,270231000.0,125175000.0,NaN,552470000.0,NaN,46359000.0,1.193625e+09,0.68,0.65,Retail Trade,0
4,1 800 FLOWERS COM INC,2018-06-30,NaT,NaN,570889000.0,273021000.0,255985000.0,124799000.0,40791000.0,570889000.0,314904000.0,41048000.0,NaN,0.63,0.61,Retail Trade,0

In [34]:
model_data[model_data['target'] ==0].describe()

,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted
count,365.000000,2.039500e+04,1.412600e+04,1.610900e+04,1.411500e+04,1.849900e+04,2.005200e+04,1.843500e+04,1.488200e+04,9.635000e+03,1.562500e+04,1.537200e+04
mean,526.539726,1.386879e+10,1.992284e+09,1.210304e+10,1.430875e+09,2.256580e+08,1.394084e+10,2.663188e+09,3.520190e+08,3.927939e+09,6.744121e+02,6.852687e+02
std,738.001278,9.875596e+10,7.006657e+09,1.024414e+11,5.240775e+09,1.437248e+09,9.956522e+10,1.219190e+10,1.885622e+09,1.637658e+10,7.047953e+04,7.104551e+04
min,-1729.000000,1.000230e+08,6.500000e+03,0.000000e+00,-8.875838e+06,-1.468500e+10,1.000230e+08,-1.972300e+10,-2.548100e+10,-1.051719e+09,-1.305000e+06,-1.305000e+06
25%,370.000000,4.695976e+08,1.570958e+08,2.040590e+08,6.654650e+07,-4.290250e+06,4.700512e+08,1.294650e+08,-2.099488e+06,1.370272e+08,1.050000e-01,1.100000e-01
50%,669.000000,1.544284e+09,3.974420e+08,8.652590e+08,2.178830e+08,1.718500e+07,1.550506e+09,4.288540e+08,4.390750e+07,5.242150e+08,7.900000e-01,7.800000e-01
75%,1046.000000,5.538274e+09,1.258685e+09,3.215463e+09,7.618190e+08,1.087965e+08,5.504876e+09,1.520936e+09,2.113915e+08,2.104984e+09,1.800000e+00,1.740000e+00
max,1811.000000,3.418318e+12,1.696620e+11,3.412078e+12,1.168660e+11,3.874550e+10,3.418318e+12,3.487030e+11,7.123000e+10,4.821300e+11,8.424999e+06,8.424999e+06

In [35]:
model_data[model_data['target'] ==1].describe()

,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted
count,98.000000,9.800000e+01,9.300000e+01,6.100000e+01,9.300000e+01,8.500000e+01,9.800000e+01,8.200000e+01,9.000000e+01,5.900000e+01,61.000000,61.000000
mean,183.489796,3.425331e+09,6.482561e+08,3.207203e+09,1.909791e+09,-5.211069e+08,3.425331e+09,-1.672676e+08,-5.956060e+08,7.474860e+08,-15.525820,-15.932377
std,111.676654,8.377652e+09,1.190724e+09,4.771325e+09,5.094125e+09,7.955217e+08,8.377652e+09,1.814896e+09,1.249656e+09,9.509288e+08,39.922661,39.929665
min,0.000000,2.913600e+08,1.622500e+07,1.625990e+08,2.107700e+07,-3.697545e+09,2.913600e+08,-4.997000e+09,-9.700000e+09,0.000000e+00,-271.940000,-271.940000
25%,91.000000,6.371675e+08,1.301310e+08,5.861000e+08,1.644560e+08,-5.278305e+08,6.371675e+08,-6.150178e+08,-6.785031e+08,2.405390e+08,-10.460000,-11.750000
50%,181.500000,1.307528e+09,2.630000e+08,1.199748e+09,4.216090e+08,-1.793005e+08,1.307528e+09,-3.347750e+07,-1.698195e+08,4.016100e+08,-4.620000,-4.830000
75%,281.000000,2.535162e+09,6.518300e+08,3.429492e+09,1.713777e+09,-6.751450e+07,2.535162e+09,1.446835e+08,-4.022875e+07,8.117770e+08,-1.285000,-1.285000
max,365.000000,7.699500e+10,9.195000e+09,2.807000e+10,4.169500e+10,8.520500e+07,7.699500e+10,1.265100e+10,6.469515e+08,3.940796e+09,1.160000,0.950000

In [24]:
model_data.sort_values(by='EarningsPerShareBasic', ascending=True)[:5]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
15647,REGAL BELOIT CORP,2014-12-31,NaT,NaN,3.407600e+09,1.652000e+09,NaN,561300000.0,-42750000.0,3.407600e+09,1.934400e+09,5450000.0,3.257100e+09,-1304999.655,-1304999.655,Manufacturing,0
5903,"E.L.F. BEAUTY, INC.",2015-12-31,NaT,NaN,3.610720e+08,7.071800e+07,224175000.0,45854000.0,3392000.0,3.610720e+08,-6.039800e+07,25571000.0,NaN,-1355.470,-1355.470,Manufacturing,0
4324,CLIPPER REALTY INC.,2018-12-31,NaT,NaN,1.101008e+09,NaN,939523000.0,NaN,-1566000.0,1.101008e+09,6.518200e+07,32458000.0,6.893900e+07,-632.000,-0.040,"Finance, Insurance and Real Estate",0
4323,CLIPPER REALTY INC.,2017-12-31,NaT,NaN,1.052085e+09,NaN,866494000.0,NaN,-1523000.0,1.052085e+09,7.491200e+07,29504000.0,6.563750e+07,-615.000,-0.040,"Finance, Insurance and Real Estate",0
3324,CAPITAL SENIOR LIVING CORP,2018-12-31,NaT,NaN,1.149144e+09,7.345800e+07,NaN,85030000.0,-39943500.0,1.149144e+09,3.526500e+07,7603000.0,NaN,-440.900,-440.900,Services,0

In [25]:
model_data.sort_values(by='EarningsPerShareBasic', ascending=False)[:5]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
12477,MOMENTIVE PERFORMANCE MATERIALS INC.,2014-12-31,2014-04-13,-262.0,2.884000e+09,1.047000e+09,2.115000e+09,4.360000e+08,-6.000000e+07,2.884000e+09,7.690000e+08,-3.400000e+07,NaN,8424999.375,8424999.375,Manufacturing,0
2014,"AXA EQUITABLE HOLDINGS, INC.",2018-12-31,NaT,NaN,2.207970e+11,NaN,2.051780e+11,NaN,1.879000e+09,2.207970e+11,1.386600e+10,NaN,8.616500e+09,1785001.635,1785001.635,"Finance, Insurance and Real Estate",0
9975,"INTERCONTINENTAL EXCHANGE, INC.",2014-12-31,NaT,NaN,6.825400e+10,5.023200e+10,5.569700e+10,5.043600e+10,6.345000e+08,6.825400e+10,1.236000e+10,9.240000e+08,4.352000e+09,1280004.300,1270004.275,"Finance, Insurance and Real Estate",0
9976,"INTERCONTINENTAL EXCHANGE, INC.",2015-12-31,NaT,NaN,7.798700e+10,5.331300e+10,6.311200e+10,5.474300e+10,8.220000e+08,7.798700e+10,1.480800e+10,1.084000e+09,4.682000e+09,330001.145,330001.140,"Finance, Insurance and Real Estate",0
17098,"SOUTHWEST IOWA RENEWABLE ENERGY, LLC",2014-09-30,NaT,NaN,1.667860e+08,2.995900e+07,NaN,1.473200e+07,4.860800e+07,1.667860e+08,8.716500e+07,6.522900e+07,3.195480e+08,3681.030,2080.080,Manufacturing,0

In [ ]:
# some extreme high and lows of EarningsPerShareBasic and EarningsPerShareDiluted
# lookup the 6 companies pdf reports and see if these are the values there

# otherwise the negative values of EarningsPerShare looks promising as model feature
# though overlap with low positive values where no bankruptcy

In [29]:
model_data[model_data['target'] ==1].sort_values(by='EarningsPerShareBasic')[:5]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
10442,"JONES ENERGY, INC.",2018-12-31,2019-04-14,104.0,4.055750e+08,1.301310e+08,1.116839e+09,1.096370e+08,-1.291039e+09,4.055750e+08,-797295000.0,-1.370385e+09,2.363570e+08,-271.94,-271.94,Mining,1
17500,STONE ENERGY CORP,2015-12-31,2016-12-14,349.0,1.410169e+09,1.504210e+08,1.449958e+09,1.592240e+08,-7.047855e+08,1.410169e+09,-39789000.0,-8.540410e+08,3.275740e+08,-127.54,-127.54,Mining,1
14370,PEABODY ENERGY CORP,2015-12-31,2016-04-13,104.0,1.094690e+10,1.322500e+09,1.019520e+10,7.336800e+09,-1.219400e+09,1.094690e+10,750100000.0,-9.678000e+08,3.461150e+09,-108.29,-108.29,Mining,1
15481,RAIT FINANCIAL TRUST,2018-12-31,2019-08-30,242.0,7.337640e+08,NaN,6.652580e+08,NaN,NaN,7.337640e+08,68506000.0,-6.785300e+07,2.715050e+07,-42.37,-42.37,"Finance, Insurance and Real Estate",1
17739,SWIFT ENERGY CO,2015-12-31,2015-12-31,0.0,5.249980e+08,6.184700e+07,NaN,3.330530e+08,-1.653971e+09,5.249980e+08,-852724000.0,NaN,2.447210e+08,-37.20,-37.20,Mining,1

In [30]:
model_data[model_data['target'] ==1].sort_values(by='EarningsPerShareBasic', ascending=False)[:5]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
19700,WALTER INVESTMENT MANAGEMENT CORP,2016-12-31,2017-11-30,334.0,1.645897e+10,NaN,1.648341e+10,NaN,-395892000.0,1.645897e+10,-2.444000e+07,NaN,7.199300e+08,1.160,NaN,"Finance, Insurance and Real Estate",1
15738,"RENTECH, INC.",2016-12-31,2017-12-19,353.0,3.127170e+08,7.717900e+07,1.625990e+08,4.880000e+07,NaN,3.127170e+08,1.475780e+08,-156524000.0,NaN,0.950,0.950,Manufacturing,1
10275,ITT EDUCATIONAL SERVICES INC,2015-12-31,2016-09-16,260.0,6.640140e+08,2.430980e+08,5.028780e+08,3.301070e+08,16872500.0,6.640140e+08,1.611360e+08,53265000.0,NaN,0.715,0.705,Services,1
8676,HALCON RESOURCES CORP,2018-12-31,2019-08-07,219.0,2.083609e+09,1.446520e+08,NaN,1.617420e+08,45959000.0,2.083609e+09,1.197044e+09,92140000.0,2.266090e+08,0.290,0.290,Mining,1
9628,"IHEARTMEDIA, INC.",2017-12-31,2018-03-14,73.0,1.226043e+10,2.067347e+09,NaN,1.635460e+10,10341000.0,1.226043e+10,NaN,646951500.0,3.940796e+09,0.120,0.100,"Transportation, Communications, Electric, Gas ...",1