In [23]:
"""
EDA of training/validation set 

"""

'\nEDA of training/validation set \n\n'

In [1]:
import pandas as pd
import numpy as np
import datetime
import pickle

In [2]:
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_formats = ['svg']
%matplotlib inline

plt.rcParams['figure.figsize'] = (3, 3)
sns.set(context='notebook', style='whitegrid', font_scale=1.2)

In [3]:
# the df with features and target

with open('model_data.pickle', 'rb') as read_file:
    model_data = pickle.load(read_file)
    
model_data.head()

,company_name,period_end_date,number_of_quarters,submission_number,central_index_key,ein,sic,fiscal_year_end,fiscal_year,form,...,FY_end_day,keep_row,Industry,div_code,Division,FULL_NAME,bankruptcy_date,time_delta,days,target
0,1 800 FLOWERS COM INC,2014-06-30,0,0001437749-17-015969,1084869,113117311,5990,630,2017,10-K,...,30,1,"Retail-Retail Stores, NEC",59,Retail Trade,NaN,NaT,NaT,NaN,0
1,1 800 FLOWERS COM INC,2015-06-30,0,0001437749-18-017027,1084869,113117311,5990,630,2018,10-K,...,30,1,"Retail-Retail Stores, NEC",59,Retail Trade,NaN,NaT,NaT,NaN,0
2,1 800 FLOWERS COM INC,2016-06-30,0,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,30,1,"Retail-Retail Stores, NEC",59,Retail Trade,NaN,NaT,NaT,NaN,0
3,1 800 FLOWERS COM INC,2017-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,30,1,"Retail-Retail Stores, NEC",59,Retail Trade,NaN,NaT,NaT,NaN,0
4,1 800 FLOWERS COM INC,2018-06-30,4,0001437749-19-018360,1084869,113117311,5990,630,2019,10-K,...,30,1,"Retail-Retail Stores, NEC",59,Retail Trade,NaN,NaT,NaT,NaN,0

In [4]:
model_data[model_data['target'] ==0].describe()

,number_of_quarters,fiscal_year_end,fiscal_year,Assets,AssetsCurrent,CashAndCashEquivalentsAtCarryingValue,CashAndCashEquivalentsPeriodIncreaseDecrease,CommonStockValue,CostsAndExpenses,DeferredIncomeTaxExpenseBenefit,...,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,FY_end_month,FY_end_day,keep_row,time_delta,days,target
count,19797.000000,19797.000000,1.979700e+04,1.979700e+04,1.381400e+04,1.856200e+04,1.599400e+04,1.532300e+04,5.201000e+03,1.601000e+04,...,7.313000e+03,9.619000e+03,5.231000e+03,1.924100e+04,19797.000000,19797.000000,19797.0,307,307.000000,19797.0
mean,2.878416,1111.382179,4.069222e+04,1.405131e+10,2.014896e+09,6.806621e+08,1.330497e+07,1.489439e+08,5.115925e+09,-1.191906e+07,...,7.439646e+08,5.425376e+09,5.858402e+09,2.709966e+09,10.804869,30.895237,1.0,597 days 18:03:31.074918568,597.752443,0.0
std,1.796816,283.355278,8.819243e+05,1.001570e+11,7.077307e+09,7.092218e+09,1.686480e+09,9.927418e+08,1.814166e+10,5.872616e+08,...,3.119737e+09,2.160519e+10,2.313351e+10,1.211583e+10,2.832097,0.341209,0.0,656 days 00:15:07.564972184,656.010504,0.0
min,0.000000,131.000000,1.218000e+03,1.000230e+08,6.500000e+03,-3.300000e+07,-1.525110e+11,0.000000e+00,-3.374580e+08,-3.259000e+10,...,-3.000000e+08,-1.269295e+09,-4.371730e+08,-2.506100e+10,1.000000,28.000000,1.0,-1449 days +00:00:00,-1449.000000,0.0
25%,0.000000,1231.000000,2.017000e+03,4.690330e+08,1.564298e+08,2.588975e+07,-1.942400e+07,7.000000e+04,2.540820e+08,-6.701500e+06,...,3.816000e+06,2.135133e+08,3.948940e+08,1.336860e+08,12.000000,31.000000,1.0,398 days 00:00:00,398.000000,0.0
50%,4.000000,1231.000000,2.018000e+03,1.550890e+09,4.004660e+08,8.280600e+07,1.000000e+06,6.010000e+05,8.224000e+08,0.000000e+00,...,4.900000e+07,8.107440e+08,1.198737e+09,4.496360e+08,12.000000,31.000000,1.0,671 days 00:00:00,671.000000,0.0
75%,4.000000,1231.000000,2.018000e+03,5.540000e+09,1.266304e+09,2.752392e+08,3.057150e+07,6.145000e+06,2.781226e+09,6.961750e+06,...,4.002000e+08,3.012694e+09,3.591834e+09,1.565971e+09,12.000000,31.000000,1.0,1049 days 00:00:00,1049.000000,0.0
max,4.000000,1231.000000,2.015103e+07,3.418318e+12,1.696620e+11,4.313040e+11,4.471000e+10,3.009687e+10,3.603090e+11,2.487700e+10,...,8.080200e+10,5.003430e+11,4.957610e+11,3.487030e+11,12.000000,31.000000,1.0,1783 days 00:00:00,1783.000000,0.0

In [5]:
model_data[model_data['target'] ==1].describe()

,number_of_quarters,fiscal_year_end,fiscal_year,Assets,AssetsCurrent,CashAndCashEquivalentsAtCarryingValue,CashAndCashEquivalentsPeriodIncreaseDecrease,CommonStockValue,CostsAndExpenses,DeferredIncomeTaxExpenseBenefit,...,RepaymentsOfLongTermDebt,Revenues,SalesRevenueNet,StockholdersEquity,FY_end_month,FY_end_day,keep_row,time_delta,days,target
count,100.000000,100.000000,100.000000,1.000000e+02,9.500000e+01,9.500000e+01,7.700000e+01,7.600000e+01,5.300000e+01,8.000000e+01,...,4.900000e+01,5.600000e+01,2.200000e+01,9.200000e+01,100.000000,100.000000,100.0,100,100.000000,100.0
mean,3.880000,1130.980000,2016.320000,3.407055e+09,6.340993e+08,1.732236e+08,1.012839e+07,1.874372e+08,1.997806e+09,-5.524338e+07,...,4.325440e+08,1.074461e+09,2.347879e+09,-1.454373e+08,11.000000,30.980000,1.0,182 days 06:14:24,182.260000,1.0
std,0.685786,300.208715,1.369804,8.300224e+09,1.178725e+09,3.722963e+08,1.368113e+08,1.481411e+09,2.780681e+09,1.548001e+08,...,6.718633e+08,1.414702e+09,4.246444e+09,1.719590e+09,3.001683,0.140705,0.0,112 days 07:39:41.109326578,112.319226,0.0
min,0.000000,131.000000,2014.000000,2.913600e+08,1.622500e+07,2.200000e+04,-5.779210e+08,0.000000e+00,5.511100e+07,-7.897830e+08,...,0.000000e+00,0.000000e+00,8.389700e+07,-4.997000e+09,1.000000,30.000000,1.0,0 days 00:00:00,0.000000,1.0
25%,4.000000,1231.000000,2015.000000,6.284055e+08,1.301025e+08,1.312500e+07,-1.442700e+07,5.450000e+04,5.070290e+08,-4.227925e+07,...,5.883000e+06,2.999875e+08,2.878150e+08,-5.914812e+08,12.000000,31.000000,1.0,87 days 18:00:00,87.750000,1.0
50%,4.000000,1231.000000,2016.000000,1.283997e+09,2.630000e+08,4.673200e+07,-7.700000e+04,4.460000e+05,1.111264e+09,-4.090500e+06,...,1.063660e+08,5.470525e+08,6.117570e+08,-3.061050e+07,12.000000,31.000000,1.0,178 days 12:00:00,178.500000,1.0
75%,4.000000,1231.000000,2018.000000,2.737490e+09,5.724600e+08,1.777500e+08,2.452400e+07,1.121500e+06,1.902180e+09,0.000000e+00,...,5.320000e+08,1.268275e+09,1.555307e+09,1.509675e+08,12.000000,31.000000,1.0,279 days 00:00:00,279.000000,1.0
max,4.000000,1231.000000,2018.000000,7.699500e+10,9.195000e+09,2.806000e+09,7.167990e+08,1.291000e+10,1.713200e+10,4.412000e+08,...,2.833000e+09,6.168431e+09,1.670200e+10,1.265100e+10,12.000000,31.000000,1.0,365 days 00:00:00,365.000000,1.0

In [6]:
model_data.sort_values(by='EarningsPerShareBasic', ascending=True)[:5]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
15647,REGAL BELOIT CORP,2014-12-31,NaT,NaN,3.407600e+09,1.652000e+09,NaN,561300000.0,-42750000.0,3.407600e+09,1.934400e+09,5450000.0,3.257100e+09,-1304999.655,-1304999.655,Manufacturing,0
5903,"E.L.F. BEAUTY, INC.",2015-12-31,NaT,NaN,3.610720e+08,7.071800e+07,224175000.0,45854000.0,3392000.0,3.610720e+08,-6.039800e+07,25571000.0,NaN,-1355.470,-1355.470,Manufacturing,0
4324,CLIPPER REALTY INC.,2018-12-31,NaT,NaN,1.101008e+09,NaN,939523000.0,NaN,-1566000.0,1.101008e+09,6.518200e+07,32458000.0,6.893900e+07,-632.000,-0.040,"Finance, Insurance and Real Estate",0
4323,CLIPPER REALTY INC.,2017-12-31,NaT,NaN,1.052085e+09,NaN,866494000.0,NaN,-1523000.0,1.052085e+09,7.491200e+07,29504000.0,6.563750e+07,-615.000,-0.040,"Finance, Insurance and Real Estate",0
3324,CAPITAL SENIOR LIVING CORP,2018-12-31,NaT,NaN,1.149144e+09,7.345800e+07,NaN,85030000.0,-39943500.0,1.149144e+09,3.526500e+07,7603000.0,NaN,-440.900,-440.900,Services,0

In [7]:
model_data.sort_values(by='EarningsPerShareBasic', ascending=False)[:5]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
12477,MOMENTIVE PERFORMANCE MATERIALS INC.,2014-12-31,2014-04-13,-262.0,2.884000e+09,1.047000e+09,2.115000e+09,4.360000e+08,-6.000000e+07,2.884000e+09,7.690000e+08,-3.400000e+07,NaN,8424999.375,8424999.375,Manufacturing,0
2014,"AXA EQUITABLE HOLDINGS, INC.",2018-12-31,NaT,NaN,2.207970e+11,NaN,2.051780e+11,NaN,1.879000e+09,2.207970e+11,1.386600e+10,NaN,8.616500e+09,1785001.635,1785001.635,"Finance, Insurance and Real Estate",0
9975,"INTERCONTINENTAL EXCHANGE, INC.",2014-12-31,NaT,NaN,6.825400e+10,5.023200e+10,5.569700e+10,5.043600e+10,6.345000e+08,6.825400e+10,1.236000e+10,9.240000e+08,4.352000e+09,1280004.300,1270004.275,"Finance, Insurance and Real Estate",0
9976,"INTERCONTINENTAL EXCHANGE, INC.",2015-12-31,NaT,NaN,7.798700e+10,5.331300e+10,6.311200e+10,5.474300e+10,8.220000e+08,7.798700e+10,1.480800e+10,1.084000e+09,4.682000e+09,330001.145,330001.140,"Finance, Insurance and Real Estate",0
17098,"SOUTHWEST IOWA RENEWABLE ENERGY, LLC",2014-09-30,NaT,NaN,1.667860e+08,2.995900e+07,NaN,1.473200e+07,4.860800e+07,1.667860e+08,8.716500e+07,6.522900e+07,3.195480e+08,3681.030,2080.080,Manufacturing,0

In [8]:
# some extreme high and lows of EarningsPerShareBasic and EarningsPerShareDiluted
# lookup the 6 companies pdf reports and see if these are the values there

# otherwise the negative values of EarningsPerShare looks promising as model feature
# though overlap with low positive values where no bankruptcy

In [9]:
model_data[model_data['target'] ==1].sort_values(by='EarningsPerShareBasic')[:5]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
10442,"JONES ENERGY, INC.",2018-12-31,2019-04-14,104.0,4.055750e+08,1.301310e+08,1.116839e+09,1.096370e+08,-1.291039e+09,4.055750e+08,-797295000.0,-1.370385e+09,2.363570e+08,-271.94,-271.94,Mining,1
17500,STONE ENERGY CORP,2015-12-31,2016-12-14,349.0,1.410169e+09,1.504210e+08,1.449958e+09,1.592240e+08,-7.047855e+08,1.410169e+09,-39789000.0,-8.540410e+08,3.275740e+08,-127.54,-127.54,Mining,1
14370,PEABODY ENERGY CORP,2015-12-31,2016-04-13,104.0,1.094690e+10,1.322500e+09,1.019520e+10,7.336800e+09,-1.219400e+09,1.094690e+10,750100000.0,-9.678000e+08,3.461150e+09,-108.29,-108.29,Mining,1
15481,RAIT FINANCIAL TRUST,2018-12-31,2019-08-30,242.0,7.337640e+08,NaN,6.652580e+08,NaN,NaN,7.337640e+08,68506000.0,-6.785300e+07,2.715050e+07,-42.37,-42.37,"Finance, Insurance and Real Estate",1
17739,SWIFT ENERGY CO,2015-12-31,2015-12-31,0.0,5.249980e+08,6.184700e+07,NaN,3.330530e+08,-1.653971e+09,5.249980e+08,-852724000.0,NaN,2.447210e+08,-37.20,-37.20,Mining,1

In [10]:
model_data[model_data['target'] ==1].sort_values(by='EarningsPerShareBasic', ascending=False)[:5]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
19700,WALTER INVESTMENT MANAGEMENT CORP,2016-12-31,2017-11-30,334.0,1.645897e+10,NaN,1.648341e+10,NaN,-395892000.0,1.645897e+10,-2.444000e+07,NaN,7.199300e+08,1.160,NaN,"Finance, Insurance and Real Estate",1
15738,"RENTECH, INC.",2016-12-31,2017-12-19,353.0,3.127170e+08,7.717900e+07,1.625990e+08,4.880000e+07,NaN,3.127170e+08,1.475780e+08,-156524000.0,NaN,0.950,0.950,Manufacturing,1
10275,ITT EDUCATIONAL SERVICES INC,2015-12-31,2016-09-16,260.0,6.640140e+08,2.430980e+08,5.028780e+08,3.301070e+08,16872500.0,6.640140e+08,1.611360e+08,53265000.0,NaN,0.715,0.705,Services,1
8676,HALCON RESOURCES CORP,2018-12-31,2019-08-07,219.0,2.083609e+09,1.446520e+08,NaN,1.617420e+08,45959000.0,2.083609e+09,1.197044e+09,92140000.0,2.266090e+08,0.290,0.290,Mining,1
9628,"IHEARTMEDIA, INC.",2017-12-31,2018-03-14,73.0,1.226043e+10,2.067347e+09,NaN,1.635460e+10,10341000.0,1.226043e+10,NaN,646951500.0,3.940796e+09,0.120,0.100,"Transportation, Communications, Electric, Gas ...",1

In [11]:
model_data[abs(model_data['EarningsPerShareDiluted']) > 3000]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target
2014,"AXA EQUITABLE HOLDINGS, INC.",2018-12-31,NaT,NaN,2.207970e+11,NaN,2.051780e+11,NaN,1.879000e+09,2.207970e+11,1.386600e+10,NaN,8.616500e+09,1785001.635,1785001.635,"Finance, Insurance and Real Estate",0
9975,"INTERCONTINENTAL EXCHANGE, INC.",2014-12-31,NaT,NaN,6.825400e+10,5.023200e+10,5.569700e+10,5.043600e+10,6.345000e+08,6.825400e+10,1.236000e+10,9.240000e+08,4.352000e+09,1280004.300,1270004.275,"Finance, Insurance and Real Estate",0
9976,"INTERCONTINENTAL EXCHANGE, INC.",2015-12-31,NaT,NaN,7.798700e+10,5.331300e+10,6.311200e+10,5.474300e+10,8.220000e+08,7.798700e+10,1.480800e+10,1.084000e+09,4.682000e+09,330001.145,330001.140,"Finance, Insurance and Real Estate",0
12477,MOMENTIVE PERFORMANCE MATERIALS INC.,2014-12-31,2014-04-13,-262.0,2.884000e+09,1.047000e+09,2.115000e+09,4.360000e+08,-6.000000e+07,2.884000e+09,7.690000e+08,-3.400000e+07,NaN,8424999.375,8424999.375,Manufacturing,0
15647,REGAL BELOIT CORP,2014-12-31,NaT,NaN,3.407600e+09,1.652000e+09,NaN,5.613000e+08,-4.275000e+07,3.407600e+09,1.934400e+09,5.450000e+06,3.257100e+09,-1304999.655,-1304999.655,Manufacturing,0
17240,SPRINT CORP,2018-03-31,NaT,NaN,8.545900e+10,1.425300e+10,5.904000e+10,1.080000e+10,3.694500e+09,8.545900e+10,2.635600e+10,1.481500e+09,2.024450e+10,0.935,10000.905,"Transportation, Communications, Electric, Gas ...",0

In [12]:
## drop extreme earnings per share diluted

model_data2 = model_data[abs(model_data['EarningsPerShareDiluted']) < 3000]

In [13]:
model_data.shape

(20493, 17)

In [14]:
model_data2.shape  ## why so many droped only ?? figure out for prepossing test set

(15427, 17)

In [15]:
model_data3 = model_data.drop(labels=[2014, 9975, 9976, 12477, 15647, 17240])

model_data3.shape

(20487, 17)

In [16]:
# drop rows if company filed for bankruptcy in past
# the 'days' will be negative

#model_data3[model_data3['days'] < 0]

In [40]:
# keep if days nan or >= 0

#model_data4= model_data3.drop(model_data3[model_data3['days'] < 0].index) 

#model_data4.shape

(20398, 17)

In [16]:
# testing keeping the days < 0 and marking as target = 1

model_data3['target_NEW'] = np.where(model_data3['days'] < 0, 1, model_data3['target'] )
model_data3.head()

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target,target_NEW
0,1 800 FLOWERS COM INC,2014-06-30,NaT,NaN,267569000.0,91818000.0,81451000.0,74307000.0,NaN,267569000.0,183228000.0,23706000.0,NaN,0.24,0.23,Retail Trade,0,0
1,1 800 FLOWERS COM INC,2015-06-30,NaT,NaN,497073000.0,155095000.0,286817000.0,123607000.0,NaN,497073000.0,208449000.0,37617000.0,NaN,0.31,0.30,Retail Trade,0,0
2,1 800 FLOWERS COM INC,2016-06-30,NaT,NaN,506514000.0,166659000.0,263928000.0,120861000.0,NaN,506514000.0,242586000.0,43282000.0,NaN,0.57,0.55,Retail Trade,0,0
3,1 800 FLOWERS COM INC,2017-06-30,NaT,NaN,552470000.0,257402000.0,270231000.0,125175000.0,NaN,552470000.0,NaN,46359000.0,1.193625e+09,0.68,0.65,Retail Trade,0,0
4,1 800 FLOWERS COM INC,2018-06-30,NaT,NaN,570889000.0,273021000.0,255985000.0,124799000.0,40791000.0,570889000.0,314904000.0,41048000.0,NaN,0.63,0.61,Retail Trade,0,0

In [49]:
model_data3['StockholdersEquity'].fillna(model_data3['LiabilitiesAndStockholdersEquity'] - model_data3['Liabilities'], inplace=True)

In [50]:
model_data3.head()

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target,target_NEW,StockholdersEquity_NEW
0,1 800 FLOWERS COM INC,2014-06-30,NaT,NaN,267569000.0,91818000.0,81451000.0,74307000.0,NaN,267569000.0,183228000.0,23706000.0,NaN,0.24,0.23,Retail Trade,0,0,183228000.0
1,1 800 FLOWERS COM INC,2015-06-30,NaT,NaN,497073000.0,155095000.0,286817000.0,123607000.0,NaN,497073000.0,208449000.0,37617000.0,NaN,0.31,0.30,Retail Trade,0,0,208449000.0
2,1 800 FLOWERS COM INC,2016-06-30,NaT,NaN,506514000.0,166659000.0,263928000.0,120861000.0,NaN,506514000.0,242586000.0,43282000.0,NaN,0.57,0.55,Retail Trade,0,0,242586000.0
3,1 800 FLOWERS COM INC,2017-06-30,NaT,NaN,552470000.0,257402000.0,270231000.0,125175000.0,NaN,552470000.0,282239000.0,46359000.0,1.193625e+09,0.68,0.65,Retail Trade,0,0,NaN
4,1 800 FLOWERS COM INC,2018-06-30,NaT,NaN,570889000.0,273021000.0,255985000.0,124799000.0,40791000.0,570889000.0,314904000.0,41048000.0,NaN,0.63,0.61,Retail Trade,0,0,314904000.0

In [53]:
model_data3['StockholdersEquity'].isna().value_counts()

False    19811
True       676
Name: StockholdersEquity, dtype: int64

In [54]:
model_data3[model_data3['StockholdersEquity'].isna()]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target,target_NEW,StockholdersEquity_NEW
87,AAON INC,2014-12-31,NaT,NaN,2.269740e+08,124940000.0,NaN,42713000.0,27345500.0,226974000.0,NaN,68006000.0,NaN,0.500,0.495,Manufacturing,0,0,NaN
88,AAON INC,2015-12-31,NaT,NaN,2.328540e+08,124213000.0,NaN,43413000.0,29338000.0,232854000.0,NaN,71302000.0,NaN,0.545,0.540,Manufacturing,0,0,NaN
89,AAON INC,2016-12-31,NaT,NaN,2.565300e+08,140981000.0,NaN,39042000.0,32398000.0,256530000.0,NaN,79594000.0,NaN,0.615,0.605,Manufacturing,0,0,NaN
90,AAON INC,2017-12-31,NaT,NaN,2.967800e+08,153727000.0,NaN,50065000.0,35134000.0,296780000.0,NaN,74103000.0,NaN,0.670,0.665,Manufacturing,0,0,NaN
91,AAON INC,2018-12-31,NaT,NaN,3.081970e+08,140861000.0,NaN,48071000.0,27554000.0,308197000.0,NaN,55790000.0,NaN,0.525,0.525,Manufacturing,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20412,"ZAYO GROUP HOLDINGS, INC.",2014-12-31,NaT,NaN,4.989200e+09,NaN,NaN,NaN,3800000.0,NaN,NaN,97100000.0,484200000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN
20413,"ZAYO GROUP HOLDINGS, INC.",2015-03-31,NaT,NaN,5.991900e+09,NaN,NaN,NaN,-53700000.0,NaN,NaN,56700000.0,662950000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN
20419,ZAYO GROUP LLC,2014-09-30,NaT,NaN,4.972900e+09,NaN,NaN,NaN,-110300000.0,NaN,NaN,-39300000.0,320600000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN
20420,ZAYO GROUP LLC,2014-12-31,NaT,NaN,4.988800e+09,NaN,NaN,NaN,3700000.0,NaN,NaN,97100000.0,484200000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN
20421,ZAYO GROUP LLC,2015-03-31,NaT,NaN,5.886200e+09,NaN,NaN,NaN,-53700000.0,NaN,NaN,56700000.0,662950000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN

In [55]:
## fill in LiabilitiesAndStockholdersEquity

model_data3['LiabilitiesAndStockholdersEquity'].fillna(model_data3['StockholdersEquity'] + model_data3['Liabilities'], inplace=True)

In [56]:
model_data3.head()

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target,target_NEW,StockholdersEquity_NEW
0,1 800 FLOWERS COM INC,2014-06-30,NaT,NaN,267569000.0,91818000.0,81451000.0,74307000.0,NaN,267569000.0,183228000.0,23706000.0,NaN,0.24,0.23,Retail Trade,0,0,183228000.0
1,1 800 FLOWERS COM INC,2015-06-30,NaT,NaN,497073000.0,155095000.0,286817000.0,123607000.0,NaN,497073000.0,208449000.0,37617000.0,NaN,0.31,0.30,Retail Trade,0,0,208449000.0
2,1 800 FLOWERS COM INC,2016-06-30,NaT,NaN,506514000.0,166659000.0,263928000.0,120861000.0,NaN,506514000.0,242586000.0,43282000.0,NaN,0.57,0.55,Retail Trade,0,0,242586000.0
3,1 800 FLOWERS COM INC,2017-06-30,NaT,NaN,552470000.0,257402000.0,270231000.0,125175000.0,NaN,552470000.0,282239000.0,46359000.0,1.193625e+09,0.68,0.65,Retail Trade,0,0,NaN
4,1 800 FLOWERS COM INC,2018-06-30,NaT,NaN,570889000.0,273021000.0,255985000.0,124799000.0,40791000.0,570889000.0,314904000.0,41048000.0,NaN,0.63,0.61,Retail Trade,0,0,314904000.0

In [57]:
model_data3['LiabilitiesAndStockholdersEquity'].isna().value_counts()

False    20185
True       302
Name: LiabilitiesAndStockholdersEquity, dtype: int64

In [58]:
model_data3[model_data3['LiabilitiesAndStockholdersEquity'].isna()]

,company_name,period_end_date,date_bankruptcy,days,Assets,AssetsCurrent,Liabilities,LiabilitiesCurrent,NetIncomeLoss,LiabilitiesAndStockholdersEquity,StockholdersEquity,OperatingIncomeLoss,Revenues,EarningsPerShareBasic,EarningsPerShareDiluted,Division,target,target_NEW,StockholdersEquity_NEW
304,ADIENT PLC,2015-09-30,NaT,NaN,1.041400e+10,NaN,NaN,NaN,460000000.0,NaN,NaN,NaN,NaN,4.91,4.90,Manufacturing,0,0,NaN
320,ADTALEM GLOBAL EDUCATION INC.,2015-06-30,NaT,NaN,2.039832e+09,NaN,NaN,NaN,139899000.0,NaN,1.584810e+09,NaN,NaN,2.17,2.14,Services,0,0,1.584810e+09
667,ALION SCIENCE & TECHNOLOGY CORP,2014-09-30,NaT,NaN,6.042690e+08,187568000.0,604269000.0,186156000.0,-19738000.0,NaN,NaN,46278000.0,219086000.0,NaN,NaN,Services,0,0,NaN
961,AMERICAN CAMPUS COMMUNITIES OPERATING PARTNERS...,2016-12-31,NaT,NaN,5.865913e+09,NaN,NaN,NaN,99061000.0,NaN,NaN,194340000.0,786361000.0,0.76,0.75,"Finance, Insurance and Real Estate",0,0,NaN
1067,"AMERICAN REALTY CAPITAL HEALTHCARE TRUST III, ...",2017-12-31,NaT,NaN,1.271130e+08,NaN,112232000.0,NaN,-628500.0,NaN,NaN,-1089000.0,8704500.0,-0.09,-0.09,"Finance, Insurance and Real Estate",0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20412,"ZAYO GROUP HOLDINGS, INC.",2014-12-31,NaT,NaN,4.989200e+09,NaN,NaN,NaN,3800000.0,NaN,NaN,97100000.0,484200000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN
20413,"ZAYO GROUP HOLDINGS, INC.",2015-03-31,NaT,NaN,5.991900e+09,NaN,NaN,NaN,-53700000.0,NaN,NaN,56700000.0,662950000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN
20419,ZAYO GROUP LLC,2014-09-30,NaT,NaN,4.972900e+09,NaN,NaN,NaN,-110300000.0,NaN,NaN,-39300000.0,320600000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN
20420,ZAYO GROUP LLC,2014-12-31,NaT,NaN,4.988800e+09,NaN,NaN,NaN,3700000.0,NaN,NaN,97100000.0,484200000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN
20421,ZAYO GROUP LLC,2015-03-31,NaT,NaN,5.886200e+09,NaN,NaN,NaN,-53700000.0,NaN,NaN,56700000.0,662950000.0,NaN,NaN,"Transportation, Communications, Electric, Gas ...",0,0,NaN

In [59]:
## fill in Liabilities

model_data3['Liabilities'].fillna(model_data3['LiabilitiesAndStockholdersEquity'] - model_data3['StockholdersEquity'], inplace=True)

In [60]:
model_data3['Liabilities'].isna().value_counts()

False    19773
True       714
Name: Liabilities, dtype: int64

In [61]:
# fill in Liabilities with LiabilitiesCurrent to use as proxy

model_data3['Liabilities'].fillna(model_data3['LiabilitiesCurrent'], inplace=True)

In [62]:
model_data3['Liabilities'].isna().value_counts()

False    20248
True       239
Name: Liabilities, dtype: int64

In [64]:
model_data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20487 entries, 0 to 20492
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   company_name                      20487 non-null  object
 1   period_end_date                   20487 non-null  datetime64[ns]
 2   date_bankruptcy                   462 non-null    datetime64[ns]
 3   days                              462 non-null    float64
 4   Assets                            20487 non-null  float64
 5   AssetsCurrent                     14214 non-null  float64
 6   Liabilities                       20248 non-null  float64
 7   LiabilitiesCurrent                14203 non-null  float64
 8   NetIncomeLoss                     18578 non-null  float64
 9   LiabilitiesAndStockholdersEquity  20185 non-null  float64
 10  StockholdersEquity                19811 non-null  float64
 11  OperatingIncomeLoss               14967 non-null  float64
 12  Revenues                          9689 non-null   float64
 13  EarningsPerShareBasic             15680 non-null  float64
 14  EarningsPerShareDiluted           15427 non-null  float64
 15  Division                          20487 non-null  object
 16  target                            20487 non-null  int64
 17  target_NEW                        20487 non-null  int64
 18  StockholdersEquity_NEW            18511 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(2)
memory usage: 3.6+ MB

In [67]:
model_data3.drop('StockholdersEquity_NEW', axis=1 ,inplace=True)

In [68]:
model_final = model_data3.reset_index(drop=True)

In [69]:
model_final.target_NEW.value_counts()

0    20300
1      187
Name: target_NEW, dtype: int64

In [70]:
# pickle the model_data df

with open('model_data_new.pickle', 'wb') as to_write:
    pickle.dump(model_final, to_write)